/* Variables for fonts */
/* line 47, basic.scss */
body {
  background: #fff;
  color: #4b4b4b;
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: Arial;
}
/* line 55, basic.scss */
body.user-messages {
  margin-top: 3.4em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 63, basic.scss */
a:hover {
  color: black;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 68, basic.scss */
h1 {
  font-size: 30px;
}

/* line 72, basic.scss */
h2 {
  font-size: 24px;
}

/* ----- Red Popup notification ----- */
/* line 78, basic.scss */
.vote-notification {
  z-index: 1;
  cursor: pointer;
  display: none;
  padding-bottom: 10px;
  position: absolute;
  text-align: center;
}
/* line 85, basic.scss */
.vote-notification h3 {
  font-size: 14px;
  margin-bottom: 5px;
  line-height: 20px;
  font-weight: normal;
}
/* line 91, basic.scss */
.vote-notification a {
  text-decoration: underline;
  font-weight: bold;
}

/* line 98, basic.scss */
.content-wrapper {
  min-height: 70vh;
}

/* line 101, basic.scss */
.section-title {
  color: #7ea9b3;
  float: left;
  font-family: "Open Sans Condensed", Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
}

/* line 109, basic.scss */
.ground {
  padding: 16px 0;
  background: #343a40;
  font-size: .95rem;
}
/* line 114, basic.scss */
.ground a:hover {
  color: #ebff88;
}
/* line 118, basic.scss */
.ground p {
  margin-bottom: 0;
}

/* line 123, basic.scss */
.footer-links {
  color: #EEE;
  text-align: left;
}
/* line 127, basic.scss */
.footer-links a {
  color: #e7e8a8;
}

/* line 132, basic.scss */
.powered-link {
  text-align: left;
}
/* line 135, basic.scss */
.powered-link a {
  color: #8ebcc7;
}

/* line 140, basic.scss */
.copyright {
  color: #616161;
}
/* line 143, basic.scss */
.copyright a {
  color: #8ebcc7;
}
/* line 147, basic.scss */
.copyright img.license-logo {
  margin-left: 10px;
  float: right;
}

/* line 153, basic.scss */
.hilite {
  background-color: #ff0;
}

/* line 157, basic.scss */
.hilite1 {
  background-color: #ff0;
}

/* line 161, basic.scss */
.hilite2 {
  background-color: #f0f;
}

/* line 165, basic.scss */
.hilite3 {
  background-color: #0ff;
}

/* line 169, basic.scss */
.gold, .badge1 {
  color: #FFCC00;
}

/* line 173, basic.scss */
.silver, .badge2 {
  color: #CCCCCC;
}

/* line 177, basic.scss */
.bronze, .badge3 {
  color: #CC9933;
}

/* line 181, basic.scss */
.invisible {
  margin: -1px 0 0 -1px;
  height: 1px;
  overflow: hidden;
  width: 1px;
}

/* line 189, basic.scss */
.wmd-container textarea {
  width: 100% !important;
  box-sizing: border-box;
}
/* line 193, basic.scss */
.wmd-container img {
  max-width: 100%;
}
