/* line 2, nav.scss */
.navbar .nav-link {
  font-size: 18px;
}
/* line 5, nav.scss */
.navbar .nav-link:hover {
  text-decoration: underline;
}
/* line 9, nav.scss */
.navbar .nav-link .fa {
  padding-right: 5px;
}
/* line 14, nav.scss */
.navbar .nav-user {
  display: inline-block;
}
/* line 19, nav.scss */
.navbar .user-info a {
  color: rgba(255, 255, 255, 0.5);
}
/* line 22, nav.scss */
.navbar .user-info a:hover {
  color: rgba(255, 255, 255, 0.75);
}

/* line 29, nav.scss */
nav.question {
  height: 55px;
  background: #e9e9e1;
  border-bottom: #d3d3c2 1px solid;
  border-top: #fcfcfc 1px solid;
  margin-bottom: 10px;
  font-family: "Open Sans Condensed", Arial, sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 39, nav.scss */
nav.question .inner-q {
  display: table;
  width: 100%;
}
/* line 42, nav.scss */
nav.question .inner-q > div {
  display: table-cell;
}
/* line 45, nav.scss */
nav.question .inner-q .home-btn,
nav.question .inner-q .scope-nav {
  width: 10px;
  white-space: nowrap;
  font-size: 20px;
  padding-right: 16px;
}
/* line 51, nav.scss */
nav.question .inner-q .home-btn a,
nav.question .inner-q .scope-nav a {
  color: #7a7a6b;
  margin-left: 16px;
}
/* line 54, nav.scss */
nav.question .inner-q .home-btn a:first-of-type,
nav.question .inner-q .scope-nav a:first-of-type {
  margin-left: 0;
}
/* line 59, nav.scss */
nav.question .inner-q .home-btn a:hover,
nav.question .inner-q .scope-nav a:hover {
  color: #5a5a5a;
}
/* line 63, nav.scss */
nav.question .inner-q .scope-nav {
  padding-left: 15px;
}
/* line 66, nav.scss */
nav.question .inner-q .home-btn {
  border-right: #afaf9e 1px solid;
  padding-right: 15px;
}
/* line 70, nav.scss */
nav.question .inner-q .scope-selector {
  display: inline-block;
  font-size: 20px;
  line-height: 53px;
}
/* line 75, nav.scss */
nav.question .inner-q .scope-selector.on {
  background: url(../images/scopearrow.png) no-repeat bottom center;
}
/* line 80, nav.scss */
nav.question .ask-question {
  margin-top: 7px;
}
/* line 83, nav.scss */
nav.question .ask-question a.btn {
  text-transform: uppercase;
}
/* line 87, nav.scss */
nav.question .cancelSearchBtn {
  position: absolute;
  right: 50px;
  border: none;
  background-color: transparent;
  font-size: 26px;
  color: #aaa;
  line-height: 34px;
  cursor: pointer;
  z-index: 10001;
}

/* line 100, nav.scss */
.search-bar {
  top: -3px;
}
/* line 102, nav.scss */
.search-bar span.input-group-btn button.btn {
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

/* line 108, nav.scss */
.search-drop-menu {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: whitesmoke;
  border-top: none;
  top: 38px;
  left: 0;
  right: 0;
  margin: 0;
  outline: 1px solid #dadad4;
  position: absolute;
  z-index: 10000;
}
/* line 121, nav.scss */
.search-drop-menu ul {
  list-style: none;
  overflow: auto;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
}
/* line 128, nav.scss */
.search-drop-menu ul li {
  padding: 5px 10px;
  position: relative;
}
/* line 132, nav.scss */
.search-drop-menu ul li a {
  text-decoration: none;
}
/* line 136, nav.scss */
.search-drop-menu ul li.selected {
  background: #08c;
}
/* line 139, nav.scss */
.search-drop-menu ul li.selected a {
  color: whitesmoke;
}
/* line 144, nav.scss */
.search-drop-menu .footer {
  text-align: center;
  margin: 0 0 1px 0;
  padding: 4px 0 10px 0;
}
/* line 149, nav.scss */
.search-drop-menu.empty .footer {
  padding-top: 9px;
}

/* line 155, nav.scss */
.search-drop-menu.empty ul {
  padding: 1px;
  margin: 0;
}

/* line 161, nav.scss */
.notify .alert.alert-warning {
  height: 3.4em;
}

/* line 165, nav.scss */
#homeButton i {
  color: #7a7a7b;
  font-size: 26px;
  line-height: 53px;
}
/* line 169, nav.scss */
#homeButton i:hover {
  color: #5a5a5a;
}

@media screen and (max-width: 991px) {
  /* line 177, nav.scss */
  nav.question .inner-q .scope-nav {
    display: none;
  }
  /* line 181, nav.scss */
  nav.question .inner-q .search-bar-wrap {
    padding-left: 15px;
  }
  /* line 185, nav.scss */
  nav.question .inner-q .home-btn a {
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 193, nav.scss */
  .container {
    max-width: 96%;
  }

  /* line 199, nav.scss */
  .navbar .navbar-nav .nav-link {
    padding-right: .25rem;
    padding-left: .25rem;
  }
  /* line 203, nav.scss */
  .navbar .navbar-nav .link-hidden {
    display: none;
  }
}
