.navbar {
    .nav-link {
        font-size: 18px;

        &:hover {
            text-decoration: underline;
        }

        .fa {
            padding-right: 5px;
        }
    }

    .nav-user {
        display: inline-block;
    }

    .user-info {
        a {
            color: rgba(255, 255, 255, 0.5);

            &:hover {
                color: rgba(255, 255, 255, 0.75);
            }
        }
    }
}

nav.question {
    height: 55px;
    background: #e9e9e1;
    border-bottom: #d3d3c2 1px solid;
    border-top: #fcfcfc 1px solid;
    margin-bottom: 10px;
    font-family: "Open Sans Condensed", Arial, sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    .inner-q {
        display: table;
        width: 100%;
        > div {
            display: table-cell;
        }
        .home-btn,
        .scope-nav {
            width: 10px;
            white-space: nowrap;
            font-size: 20px;
            padding-right: 16px;

            a {
                color: #7a7a6b;
                margin-left: 16px;
            }

            a:hover {
                color: #5a5a5a;
            }
        }
        .home-btn {
            border-right: #afaf9e 1px solid;
            padding-right: 15px;
        }
        .scope-selector {
            display: inline-block;
            font-size: 20px;
            line-height: 53px;

            &.on {
                background: url(../images/scopearrow.png) no-repeat bottom center;
            }
        }
    }
    .ask-question {
        margin-top: 7px;

        a.btn {
            text-transform: uppercase;
        }
    }
    .cancelSearchBtn {
        position: absolute;
        right: 50px;
        border: none;
        background-color: transparent;
        font-size: 26px;
        color: #aaa;
        line-height: 34px;
        cursor: pointer;
        z-index: 10001;
    }
}

.search-bar {
    top: -3px;
    span.input-group-btn button.btn {
        border-bottom-right-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
}

.search-drop-menu {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: whitesmoke;
    border-top: none;
    top: 38px;
    left: 0;
    right: 0;
    margin: 0;
    outline: 1px solid #dadad4;
    position: absolute;
    z-index: 10000;
    ul {
        list-style: none;
        overflow: auto;
        padding: 0;
        margin: 0;
        position: relative;
        width: 100%;
        li {
            padding: 5px 10px;
            position: relative;

            a {
                text-decoration: none;
            }
        }
        li.selected {
            background: #08c;

            a {
                color: whitesmoke;
            }
        }
    }
    .footer {
        text-align: center;
        margin: 0 0 1px 0;
        padding: 4px 0 10px 0;
    }
    &.empty .footer {
        padding-top: 9px;
    }
}

.search-drop-menu.empty {
    ul {
        padding: 1px;
        margin: 0;
    }
}

.notify .alert.alert-warning {
    height: 3.4em;
}

#homeButton i {
    color: #7a7a7b;
    font-size: 26px;
    line-height: 53px;
    &:hover {
        color: #5a5a5a;
    }
}

@media screen and (max-width: 991px) {
    nav.question {
        .inner-q {
            .scope-nav {
                display: none;
            }

            .search-bar-wrap {
                padding-left: 15px;
            }

            .home-btn a {
                margin-left: 0;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .container{
        max-width: 96%;
    }

    .navbar {
        .navbar-nav {
            .nav-link {
                padding-right: .25rem;
                padding-left: .25rem;
            }
            .link-hidden{
                display: none;
            }
        }
    }
}
