/* General Predifined classes, read more in lesscss.org */
/* Variables for Colors*/
/* Variables for fonts*/
body {
  background: #FFF;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #666;
  font-family: Arial;
}
.section-title {
  color: #7ea9b3;
  font-family: 'Open Sans Condensed', Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
}
#ground {
  width: 100%;
  clear: both;
  border-top: 1px solid #000;
  padding: 16px 0 0 0;
  background: #16160f;
  font-size: 16px;
  font-family: 'Open Sans Condensed', Arial, sans-serif;
}
#ground a:hover {
  color: #ebff88;
}
#ground p {
  margin-bottom: 0;
}
.footer-links {
  color: #EEE;
  text-align: left;
}
.footer-links a {
  color: #e7e8a8;
}
.powered-link {
  text-align: left;
}
.powered-link a {
  color: #8ebcc7;
}
.copyright {
  color: #616161;
}
.copyright a {
  color: #8ebcc7;
}
.copyright img.license-logo {
  margin: 6px 0px 20px 10px;
  float: right;
}
/* Variables for fonts*/
.alert p:last-child {
  margin-bottom: 0;
}
