@import "basic";
@import "nav";

.alert {
    p:last-child {
        margin-bottom: 0;
    }
}

.tab-bar {
    float: right;
    font-size: 16px;
    .input-group-addon{
        padding: .3rem .5rem;
    }
    span.input-group-addon{
        color: grey;
    }
    a.input-group-addon{
        text-decoration: none;
        &.on{
            color: black;
        }
        &:hover{
            text-decoration: none;
            color: #0056b3;
        }
    }
}

.rss {
    float: right;
    font-size: 16px;
    color: #f57900;
    margin-left: 10px;
    width: 52px;
    padding-left: 2px;
    padding-top: 3px;
    background: url(../images/feed-icon-small.png) no-repeat center right;
    font-family: $sort-font;
}

.rss:hover {
    color: #F4A731 !important;
}

#questionCount {
    font-size: 22px;
    color: $section-title;

    .count {
        font-weight: bold;
        font-size: 20px;
        color: $section-title;
        margin-bottom: 0;
        padding-top: 0;
        font-family: $main-font;
    }
}

/* ----- Question list , check main_page/content.html and macros/macros.html----- */
#question-list {
    position: relative;
}

.short-summary {
    position: relative;
    filter: inherit;
    padding: 10px 0 3px 0;
    border-bottom: 1px solid #DDDBCE;
    margin-bottom: 1px;
    overflow: hidden;
    width: 100%;
    float: left;

    h2 {
        font-size: 20px;
        font-weight: normal;
        line-height: 26px;
        padding-left: 0;
        margin-bottom: 7px;
        display: block;
        font-family: $main-font;
    }

    a {
        color: $question-link;
    }

    .userinfo {
        text-align: right;
        line-height: 16px;
        font-family: $body-font;
        padding-right: 4px;

        a {
            font-weight: bold;
            font-size: 11px;
        }
    }

    .userinfo .timeago,
    span.anonymous {
        font-size: 11px;
        clear: both;
        font-weight: normal;
        color: #555;
    }

    .counts {
        float: right;
        margin: 4px 0 0 5px;
        font-family: $main-font;

        .item-count {
            padding: 0 5px;
            font-size: 25px;
            font-family: $main-font;
        }

        .votes,
        .views,
        .answers,
        .favorites {
            div {
                margin-top: -5px;
                font-size: 13px;
                line-height: 14px;
                color: #646464;
            }
        }
    }

    .tags {
        margin: 0 0 0 1px;
    }

    .votes, .answers, .favorites, .views {
        text-align: center;
        margin: 0 3px;
        padding: 2px 2px 0 2px;
        width: 55px;
        float: right;
        height: 54px;
        border: #dbdbd4 1px solid;
    }

    .votes {
        background: url(../images/vote-background.png) repeat-x;
    }

    .answers {
        background: url(../images/answers-background.png) repeat-x;
    }

    .views {
        background: url(../images/view-background.png) repeat-x;
    }

    .no-votes .item-count {
        color: #b1b5b6;
    }

    .some-votes .item-count {
        color: #4a757f;
    }

    .no-answers .item-count {
        color: #b1b5b6;
    }

    .some-answers .item-count {
        color: #eab243;
    }

    .no-views .item-count {
        color: #b1b5b6;
    }

    .some-views .item-count {
        color: #d33f00;
    }

    .accepted .item-count {
        background: url(../images/accept.png) no-repeat top right;
        display: block;
        text-align: center;
        width: 40px;
        color: #eab243;
    }

    .some-favorites .item-count {
        background: #338333;
        color: #d0f5a9;
    }

    .no-favorites .item-count {
        background: #eab243;
        color: yellow;
    }
}

ul.tags {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 170%;
    display: block;
}

.js-tag {
    display: block;
    height: 17px;
    margin: 0 5px 0 0;
    padding: 0;

    .js-delete-icon {
        @include box-shadow(0px, 0px, 5px, #d3d6d7);

        border-top: none;

        @include rounded-corners-right(4px);

        height: 22px;
        width: 18px;
        display: inline-block;
        line-height: 20px;
        text-align: center;
        background: #bbcdcd;
        cursor: default;
        color: #fff;
    }

    .tag-number {
        float: none;
    }
}

.merge-questions .js-tag {
    display: inline-block;
}

.js-tag-extra-content {
    padding-left: 4px;
    vertical-align: text-top;
}

.js-tag-name {
    cursor: pointer;
    background: #f3f6f6;
    border: #fff 1px solid;
    border-top: #fff 2px solid;
    outline: #cfdbdb 1px solid !important;

    @include box-shadow(0px, 0px, 5px, #d3d6d7);
    display: inline-block;
    height: 20px;
    line-height: 17px;
    font-weight: normal;
    font-size: 12px;
    padding: 0 8px;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-family: $body-font;
    color: #585858;
}

.js-deletable-tag {
    margin-right: 3px;
    white-space: nowrap;
}

.tags a.js-tag-name,
.tags span.js-tag-name {
    color: #585858;
    text-decoration: none;
}

.tags a:hover {
    color: #1A1A1A;
}

ul.tags li {
    display: inline-block;
    margin: 0 4px 8px 0;
    padding: 0;
    height: 20px;
}

.question-info {
    margin-left: 50px;
}

/* ----- Sidebar Widgets Box, check main_page/sidebar.html or question/sidebar.html ----- */

.box {
    background: #fff;
    padding: 4px 2px 10px 2px;
    width: 100%;

    p {
        margin-bottom: 4px;
        color: $info-text;
        font-family: $main-font;
        font-size: 14px;

        .info-box-follow-up-links {
            text-align: right;
            margin: 0;
        }
    }

    h2 {
        background: #eceeeb;
        text-align: right;
        font-size: 18px;
        color: #656565;
        padding: 10px 10px 10px 0;
        font-family: $main-font;
    }

    h3 {
        color: #4a757f;
        font-size: 18px;
        text-align: left;
        font-weight: normal;
        font-family: $main-font;
        padding-left: 0;
    }

    .contributorback {
        background: #eceeeb url(../images/contributorsback.png) no-repeat center left;
    }

    form {
        margin: 0;
    }

    label {
        color: $info-text;
        font-size: 15px;
        vertical-align: bottom;
        display: inline;
        text-align: left;
        font-family: $main-font;
    }

    ul {
        margin-left: 22px;
    }

    li {
        list-style-type: disc;
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 10px;
        color: $info-text;
    }

    ul.tags {
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 170%;
        display: block;
    }

    #displayTagFilterControl p label {
        color: $info-text;
        font-size: 15px;
    }

    img.gravatar {
        margin: 1px 1px 0 0;
    }
}

#tagSelector {
    h2 {
        background: #eceeeb;
        text-align: right;
        font-size: 18px;
        color: #656565;
        padding: 10px 10px 10px 0;
        font-family: $main-font;
    }

    h3 {
        color: #4a757f;
        font-size: 18px;
        font-family: $main-font;
    }
}

#displayTagFilterControl {
    p {
        margin-bottom: 0;
    }

    label {
        color: #707070;
        font-size: 15px;
        font-weight: 600;
    }
}

.acResults {
    padding: 0;
    border: 1px solid WindowFrame;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 1px 1px #BFBFBF;
    z-index: 100;
    ul {
        width: 100%;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    li {
        margin: 0;
        padding: 2px 5px;
        cursor: pointer;
        display: block;
        font-size: 14px;
        overflow: hidden;
    }
    .acSelect {
        background-color: Highlight;
        color: HighlightText;
    }
}

//@media
@media screen and (max-width: 767px) {
    .views,
    .votes,
    .rss {
        display: none;
    }
    .tab-bar {
        float: none;
        margin-bottom: 10px;
    }
}


//Question page
.post {
    .social-share {
        margin-top: 8px;
        a.facebook-share.icon,
        a.twitter-share.icon,
        a.linkedin-share.icon,
        a.identica-share.icon {
            display: inline-block;
            font-size: 36px;
            line-height: 0.9em;
            margin-bottom: 4px;
            &:hover {
                opacity: 0.8;
            }
            cursor: pointer;
        }

        a.facebook-share.icon {
            color: #536cac;
            &:hover {
                color: #536cac;
            }
        }
        //a.identica-share.icon {
        //    background: url(../images/socialsprite.png) no-repeat;
        //    background-position: -78px 0px;
        //    zoom:1.5;
        //
        //}
        a.twitter-share.icon {
            color: #6ba3eb;
            &:hover {
                color: #6ba3eb;
            }

        }
        a.linkedin-share.icon {
            color: #4d79af;
            &:hover {
                color: #4d79af;
            }

        }
    }

    .vote-buttons {
        float: left;
        width: 45px;
        margin-top: -10px;
        .fa{
            display: inherit;
            line-height: 20px;
        }
    }
    .vote-number {
        font-family: $main-font;
        font-size: 23px;
        color: #777;
        display: inline-block;
        margin-top: 10px;
        line-height: 15px;
    }

}
.question-img-upvote,
.question-img-downvote,
.answer-img-upvote,
.answer-img-downvote {
    font-size: 26px;
    line-height: 100%;
    cursor: pointer;
    &:hover{
        color: $color-success;
    }
}
.question-img-downvote,
.answer-img-downvote {
    &:hover {
        color: $color-danger;
    }
}






.question-page {
    .js-text-error {
        margin-bottom: 4px;
    }
    .js-editable-controls .btn {
        margin-right: 10px;
    }

    h1 {
        font-family: $main-font;
        a {
            color: $question-link;
            font-size:26px;
            font-weight:normal;
            line-height:1;
        }
        .js-editable-content{
            display: inline;
        }
        .js-editable-controls {
            display: inline;
        }
        textarea.form-control{
            padding-top: 0;
            padding-bottom: 0;
        }

        .btn-link {
            cursor: pointer;
            color: #888;
            padding: 0;
            &:hover {
                text-decoration: underline;
            }
            .fa{
                padding-left: 5px;
            }
        }
        .js-simple-editor {
            textarea {
                color: #666;
                font-family: $main-font;
                font-size: 30px;
                line-height: 36px;
                height: 66px;
                width: 100% !important;
            }
        }
        .js-error {
            font-size: 16px;
            font-family: $body-font;
        }
    }

    p.rss {
        float: none;
        clear: both;
        display: inline-block;
        padding: 3px 0 3px 20px;
        font-size: 15px;
        width: auto;
        background-position: center left;
    }

    p.rss a {
        font-family: $main-font;
        vertical-align: top;
    }

    .post {
        margin-bottom: 16px;
        .mceEditor td {
            width: auto;
        }
        pre, code {
            clear:both;
        }
    }

    .post-content {
        margin-left: 60px;
    }

    .js-question .post-content {
        margin-bottom:10px;
    }

    .answer .post-content {
        border-bottom: 1px solid #D4D4D4;
    }

    .post-body {
        font-size: 16px;
        color: #4b4b4b;
        a {
            color: $link;
        }

        img {
            max-width: 100%;
        }
    }

    .js-question .post-body {
        border-top: #f0f0f0 1px solid;
    }

    .post-update-info {
        font-size: 12px;
        .user-card .user-info,
        .action-date {
            margin-left: 40px;
        }
        .badges {
            white-space: nowrap;
        }
        a {
            color: $color-link-gray;
        }
    }

    .post-update-info-container{
        margin: 5px 0;
    }
    .post-controls {
        font-size: 12px;
        margin-bottom: 8px;
        min-width: 200px;
        padding-left: 5px;
        text-align: right;
        margin-left: 130px;
        @media screen and (max-width: 767px) {
            margin-left: 0;
        }
        a,
        span.dropdown-toggle {
            color: #777;
            cursor: pointer;
            font-size: 13px;
            margin-left: 5px;
            padding: 0 5px;
            @media screen and (max-width: 767px) {
                margin-left: 0;
            }
            &:hover{
                color: $color-hover;
                text-decoration: none;
            }
            .fa{
                padding-right: 3px;
            }
        }

        span.dropdown-toggle {
            position: relative;
        }
        span.dropdown-toggle:hover {
            form {
                margin: 0;
                display: block;
                width: 100%;
            }
            input {
                display: block !important;
                height: 20px !important;
                line-height: 20px !important;
                margin: 0;
            }
            .dropdown-menu {
                display: block;
                padding: 5px 0;
                right: -5px !important;
                left: auto;
                margin-top: -2px;
                li,
                li:hover {
                    display: block !important;
                    margin: 0;
                    padding: 0;
                    width: 100% !important;
                }
                li:hover {
                    background-color: #f5f0c9;
                }
            }
        }

        .sep {
            color: #ccc;
            float:right;
            height:18px;
            font-size:18px;
        }
    }
    .post-controls, .answer-controls{
        .answer-publish{
            background: url(../images/publish.png) no-repeat center left;
        }
        .answer-unpublish{
            background: url(../images/unpublish.png) no-repeat 2px center;
        }

        .answer-convert{
          float:right;
          clear: left;
          /*background: url(../images/link.png) no-repeat center left;*/
        }

        .answer-convert input{
            font-size:12px;
            color: #777;
            font-family:$body-font;
            text-decoration: none;
            display:inline;
            white-space:nowrap;
            padding-left: 0px;
            background: none;
            border: none;
            padding: 0px 7px 3px 18px;
            float:right;
            height:18px;
            line-height:18px;
            margin-top:-2px;
            margin-left:4px;
        }

        .answer-convert input:hover{
            background-color: #f5f0c9;
        }
    }
    .tabBar{
       width:100%;
    }

    .question-img-favorite:hover {
        background: url(../images/vote-favorite-on.png);
    }

    .comments.empty.ordering-forward {
        margin-top: -35px;
        float: left;
        @media screen and (max-width: 767px) {
            margin-top: 0;
            float: none;
        }
    }
    .comments {
        .truncated-post:nth-last-child(3) {
            float: left;
        }

        div.controls {
            width: 100%;
            margin: 3px 0 20px 5px;
        }

        .edit-comment-buttons {
            margin-top: 10px;
            .checkbox {
                margin: 8px 0 0 0;
            }
            .btn{
                margin-right: 10px;
            }
        }

        .controls a {
            color: #988e4c;
            padding: 3px;
            padding-right: 15px;
            font-size: 14px;
            &:hover{
                color: $color-hover;
            }
            .fa{
                font-size: 18px;
            }
        }

        .controls a:hover {
            text-decoration: none;
        }

        .js-open-editor-btn,
        .js-load-comments-btn {
            color: #988e4c;
            font-size: 11px;
            padding: 3px;
            cursor: pointer;
        }

        .js-open-editor-btn.new-comment-box {
            padding: 0 14px 0 29px;
            .mock-editor {
                height: 50px;
            }
        }

        a {
            background-color: inherit;
            color: $link;
            padding: 0;
        }

        textarea {
            box-sizing: border-box;
            color: #666;
            font-family: $body-font;
            font-size: 13px;
            height: 54px;
            line-height: 1.3;
            margin: 0;
            outline: none;
            overflow:auto;
            padding: 5px 19px 2px 6px;
            width: 100%;
        }
        input {
            margin-left: 10px;
            margin-top: 1px;
            vertical-align: top;
            width: 100px;
        }

        input[name="suppress_email"] {
            margin: 4px 5px 0 0;
            width: auto;
        }
        label[for="suppress_email"] {
            vertical-align: top;
        }

        button.submit {
            margin-right: 6px;
        }
        .counter {
            display: inline-block;
            width: auto;
            float:right;
            vertical-align: top;
            font-family:$body-font;
            text-align:right;
        }
        .comment {
            border-bottom: 1px solid #edeeeb;
            .comment-content {
                margin-left: 35px;
                padding: 5px 15px 5px 0;
            }
            .comment-votes {
                width: 30px;
                float: left;
            }
        }
        .comment:last-child {
            border-bottom: none;
        }
        div.comment:hover {
            background-color: #efefef;
        }
        a.author{
            background-color: inherit;
            color: $link;
            padding: 0;
        }
        a.author:hover {
            text-decoration: underline;
        }
        span.js-delete-icon:hover{
            color: $color-danger;
            cursor: pointer;
        }
        .content {
            margin-bottom: 7px;
        }

        .comment-votes {
            line-height: 130%;
            padding: 6px 5px 6px 3px;
        }

        .comment-body {
            p {
                margin-bottom: 4px;
            }
        }

        .comment-controls {
            padding-left: 3px;
            .js-avatar-box {
                margin-right: 4px;
            }
        }

        .js-edit {
            padding-left: 6px;
        }

        .convert-comment {
            display: inline;
            white-space: nowrap;
            padding-left: 0;
            input {
                background: none;
                padding: 0;
                color: #1B79BD;
                border:none;
                height: 13px;
                width:auto;
                font-size: 12px;
                font-weight: normal;
                margin: 0 0 3px 8px;
                vertical-align: middle;
            }

            input:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        .comment-delete {
            float: right;
            padding-left: 10px;
        }

        .upvote {
            margin: 0;
            padding-top: 2px;
            text-align: left;
            height: 20px;
            font-size: 13px;
            font-weight: bold;
            color: #777;
        }

        .upvote.hover {
            position: relative;
            &:after {
                position: absolute;
                left: 0;
                width: 27px;
                text-align: right;
                content: "\f062";
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: 15px;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                transform: translate(0, 0);
            }
        }

        .upvote:hover:after,
        .upvote.upvoted{
            color: $color-danger;
        }

        .help-text{
            float: right;
            text-align:right;
            color: gray;
            margin-bottom: 0px;
            margin-top: 0px;
            line-height: 50%;
        }
    }
    #questionTools {
        font-size: 22px;
        margin-top: 11px;
        text-align: left;
    }

    .question-status {
        margin-top: 10px;
        margin-bottom:15px;
        padding: 20px;
        background-color: #fef7cc;
        text-align: center;
        border:#e1c04a 1px solid;
    }

    .question-status h3 {
        font-size: 20px;
        color:$info-text;
        font-weight:normal;
    }

    .vote-buttons .notify-sidebar {
        text-align: center;
        margin: 6px auto 0;
        label {
            vertical-align: top;
        }
    }

    .tabBar-answer {
        padding-left: 7px;
        width: 723px;
        margin-top: 10px;
    }

    .accepted-answer {
        background-color: $color-answer-bg;
        padding: 10px;
    }


    .answered {
        background: #CCC;
        color: #999;
    }

    .answered-accepted {
        background: #DCDCDC;
        color: #763333;

        strong {
            color: #E1E818;
        }
    }

    .answered-by-owner {
        background: #F1F1FF;

        .comments {
            background-color: #E6ECFF;
            .js-load-comments-btn,
            .js-open-editor-btn {
                background-color: #E6ECFF;
            }
        }
    }

    .answer-img-accept {
        font-size: 26px;
        cursor: pointer;
        margin-top: 8px;
    }

    .accepted-answer .answer-img-accept,
    .answer-img-accept:hover {
        color: $color-success;
    }

    #fmanswer{
        color:$info-text;
        line-height:1.2;
        margin-top:10px;

        h2 {
          font-family:$main-font;
          color:$section-title;
          font-size:24px;
        }
        label{
          font-size:13px;
        }
    }
    .message {
        padding: 5px;
        margin: 0px 0 10px 0;

    }

}
.vote-buttons{
    text-align: center;
    .js-question-follower-count{
        font-weight: bold;
    }
}
.notify-sidebar{
    .rss{
        float: none;
        display: inline-block;
        padding: 3px 0 3px 20px;
        font-size: 15px;
        width: auto;
        background-position: center left;
    }
}
.stats-widget{
    strong {
        float: right;
    }
}
.questions-related{
    p{
        font-size: 14px;
        border-bottom: #cccccc 1px solid;
        &:last-child{
            border-bottom: none;
        }

    }
}



#contrib-users{
    .row{
        margin-left: -1px;
        margin-right: -1px;
        .col-md-3{
            padding-left: 1px;
            padding-right: 1px;
            padding-bottom: 2px;
        }
    }
    img{
        width: 100%;
        height: auto;
    }
}

.wmd-previewer-toggle{
    color: #007bff;
    cursor: pointer;
    &:hover{
        color: $color-hover;

    }
}
