{% extends "widget_base.html" %}
{% import "macros.html" as macros %}
{% block forestyle %}
  {% if editor_type == 'markdown' %}
    <link rel="stylesheet" type="text/css" href="{{"/js/wmd/wmd.css"|media}}" />
  {%else %}
    <link href="{{'/bootstrap/css/bootstrap.css'|media}}" rel="stylesheet" type="text/css" />
  {%endif%}
  {% include "meta/fonts.html" %}
  <style type="text/css" media="screen">
    body{
      font-family: Verdana, Arial, Helvetica, sans-serif;
      overflow: hidden;
    }
    label {
        display: block;
        margin-bottom: 4px;
    }
    label[for="id_ask_anonymously"] {
        display: inline;
    }
    p.opts {
        margin-top: 9px;
    }
    input[type="hidden"] ~ label {
        display: none;
    }
    input[type="checkbox"] {
        margin: 0 1px 0 20px;
    }
    textarea {
        font-size: 14px;
    }
    #editor {
      display: block;
      min-height: 200px;
      width: 98%;
      margin: 0;
      border:none;
      outline:none;
      padding: 6px;
    }
    .wmd-container {
      border: #CCE6EC 3px solid;
    }

    #id_title {
      font-size: 130%;
      border: #CCE6EC 3px solid;
      max-width: 600px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      padding: 2px 5px;
      width: 100%;
    }

    #id_title:focus {
      outline: none;
      box-shadow:none;
    }

    .search-drop-menu.empty,
    .search-drop-menu .footer,
    .input-tool-tip {
        display: none !important;
    }

    .search-drop-menu ul {
        padding: 0 5px;
        line-height: 1.5;
        list-style: none;
        margin: 5px 0 0;
    }

    {% if editor_type == 'markdown' %}
    #wmd-button-bar {
      background: url({{"/js/wmd/images/editor-toolbar-background.png"|media}}) repeat-x bottom;
      height: 30px;
      border: 0;
      display: block;
    }
    {% endif %}

    #submit{
      background-color: #D1E2E5;
      background-repeat: no-repeat;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#D1E2E5), color-stop(25%, #D1E2E5), to(#A9C2C7));
      background-image: -webkit-linear-gradient(#D1E2E5, #D1E2E5 25%, #A9C2C7);
      background-image: -moz-linear-gradient(top, #D1E2E5, #D1E2E5 25%, #A9C2C7);
      background-image: -ms-linear-gradient(#D1E2E5, #D1E2E5 25%, #A9C2C7);
      background-image: -o-linear-gradient(#D1E2E5, #D1E2E5 25%, #A9C2C7);
      background-image: linear-gradient(#D1E2E5, #D1E2E5 25%, #A9C2C7);
      border-radius: 4px;
      -ms-border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -khtml-border-radius: 4px;
      -webkit-box-shadow: 1px 1px 2px #636363;
      -moz-box-shadow: 1px 1px 2px #636363;
      border: 0px;
      box-shadow: 1px 1px 2px #636363;
      -webkit-box-shadow: 1px 1px 2px #636363;
      -moz-box-shadow: 1px 1px 2px #636363;
      cursor: pointer;
      color: #4A757F;
      display: block;
      font: 130% 'Open Sans Condensed', Arial, sans-serif;
      float: left;
      margin: 5px 0 0 0;
      text-align: center;
      text-decoration: none;
      text-shadow: 0px 1px 0px #C6D9DD;
      -moz-text-shadow: 0px 1px 0px #c6d9dd;
      -webkit-text-shadow: 0px 1px 0px #c6d9dd;
      width: 200px;
    } 

    .field-errors {
      font-size: 10px;
      color: #ff0000;
      height: 10px;
    }

    h1 {
        font-size: 24px;
        margin: 0 0 0.65em 0;
        max-width: 565px;
    }

    {{widget.inner_style}}
  </style>
{% endblock %}

{% block body %}
<h1>{{ widget.title }}</h1>
<form action="." method="POST" accept-charset="utf-8">
  {% csrf_token %}
  <label>{{ settings.WORDS_PLEASE_ENTER_YOUR_QUESTION|escape }}</label>
  <div class="input-title">
    {{form.title}}
  </div>
  <div class="field-errors">
    {% for error in form.title.errors %} {{error}} {%endfor%}
  </div>
  <label>{% trans %}Add details{% endtrans %}</label>
{% if widget.include_text_field %}
  {% if editor_type == 'markdown' %}
      <div class="wmd-container">
          <div id="wmd-button-bar" class="wmd-panel"></div>
          {{ form.text }}{# this element is resizable and will be wrapped by js #}
      </div>
  {% else %}
      <div class="wmd-container">
          {{ form.media }}
          {{ form.text }}
      </div>
  {% endif %}
  <div class="field-errors">
    {% for error in form.text.errors %} {{error}} {%endfor%}
  </div>
  {% endif %}
  <input type="submit" value="{{ settings.WORDS_ASK_YOUR_QUESTION|escape }}" id="submit" />
  <p class="opts">{{ form.ask_anonymously }} {{ form.ask_anonymously.label_tag() }}</p>
</form>
{%endblock%}
{% block endjs %}
<script type='text/javascript' src='{{"/js/editor.js"|media}}'></script>
{% if editor_type == 'markdown' %}
    {% include "meta/markdown_javascript.html" %}
{% else %}
    {% include "meta/tinymce_css.html" %}{# todo - maybe move to form media? #}
{% endif %}

<script type="text/javascript" src='{{"/js/live_search_new_thread.js"|media}}'></script>
<script type="text/javascript" charset="utf-8">
    askbot['settings']['minSearchWordLength'] = {{ min_search_word_length }};
    askbot['urls']['apiGetQuestions'] = '{% url "api_get_questions" feed.name %}';
    askbot['urls']['upload'] = '{% url upload %}';
    $(document).ready(function(){
        var searchInput = $('#id_title');
        searchInput.addClass('questionTitleInput');
        var search = new FullTextSearch();
        search.decorate(searchInput);
        searchInput.focus();
    });
</script>
{% endblock %}
