.AskbotAskWidget {
     visibility: hidden;
     position: fixed;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 99999;
}

.AskbotAskWidget div{
     width:596px;
     {% if widget.include_text_field %}
     {% if editor_type == 'markdown' %}
     height: 443px;
     {% else %}
     height:520px;
     {% endif %}
     {% else %}
     height:220px;
     {% endif %}
     margin: 100px auto;
     background-color: #fff;
     border: 1px solid #aaa;
     overflow: hidden;
     padding:15px;
     padding-left: 10px;
     text-align: right;
}

.AskbotAskWidgetIFrame {
     width: 600px;
     height: 100%;
}

.AskbotClosePopup {
    text-decoration: none;
    font-size: 24px;
    position: absolute;
    top: 18px;
    right: 18px;
}

.AskbotWidgetContainer {
    position: relative;
}
