{% macro provider_buttons(login_providers) %}
<ul class="login-icons">
    {% for provider in login_providers %}
    <li>
        <button
          id="{{ provider.name }}_id"
          name="{{ provider.name }}"
          class="{{ provider.type }} {{provider.name|replace('.', '-')}}"
          title="{{ provider.tooltip_text }}"
        >{{ provider.tooltip_text}}</button>
        <label for="{{ provider.name }}_id">{{ provider.display_name }}</label>
    </li>
    {% endfor %}
</ul>
<div class="clearfix"></div>
<div class="extra-openid-info">
    <div class="labeled-input">
        <label for="openid-login-token"></label>{# populated by js #}
        <input 
            id="openid-login-token"
            type="text"
            name="login-openid_login_token"
        />
    </div>
    <input 
        type="submit"
        class="submit"
        name="openid_login_with_extra_token"
        value="{% trans %}Sign in{% endtrans %}"
    />
</div> 
{% endmacro %}
