{% import "macros.html" as macros %}
{# this form completes user registration upon return from 3rd party authentication #}
<div class="complete-registration">
    <label for="id_username">{% trans %}enter a username{% endtrans %}</label>
    {{ openid_register_form.username }}
    <label for="id_email">{% trans %}Your email address{% endtrans %}</label>
    {{ openid_register_form.email }}
    <input 
        type="submit"
        class="submit"
        data-url="{% url user_register %}"
        value="{% trans %}Signup{% endtrans %}"
    />
</div>
{# there is a js clause for this at the bottom of base.html #}
