{% import "macros.html" as macros %}
<!-- complete.html -->
{# this form completes user registration upon return from 3rd party authentication #}
<div class="complete-registration">
    <div class="labeled-input">
        <label for="id_username">{% trans %}enter a username{% endtrans %}</label>
        {{ register_form.username }}
    </div>
    <div class="labeled-input">
        <label for="id_email">{% trans %}Your email address{% endtrans %}</label>
        {{ register_form.email }}
    </div>
    {% if openid_register_form.recaptcha %}
    <div>
        {{ macros.form_field_with_errors(openid_register_form.recaptcha ) }}
    </div>
    {% endif %}
    <input 
        type="submit"
        class="submit"
        data-url="{% url user_register %}"
        value="{% trans %}Signup{% endtrans %}"
    />
</div>
{# there is a js clause for this at the bottom of base.html #}
