<script type='text/javascript' src='{{"/js/jquery.validate.min.js"|media}}'></script>
<script type="text/javascript">
    var extra_token_name = {};
    var create_pw_text = {};
    var change_pw_text = {};
    var authUrl = '/{% trans %}account/{% endtrans %}';
    var siteName = '{{settings.APP_SHORT_NAME}}';
    var provider_count = {{existing_login_methods|length}};
    {% for login_provider in major_login_providers %}
        {% if settings['SIGNIN_' + login_provider.name.upper() + '_ENABLED'] == True %}
          {% if login_provider.extra_token_name %}
              extra_token_name['{{login_provider.name}}'] = '{{login_provider.extra_token_name}}';
          {% endif %}
          {% if login_provider.type == 'password' %}
              create_pw_text['{{login_provider.name}}'] = '{{login_provider.create_password_prompt}}';
              change_pw_text['{{login_provider.name}}'] = '{{login_provider.change_password_prompt}}';
          {% endif %}
        {% endif %}
    {% endfor %}
    {% for login_provider in minor_login_providers %}
        {% if settings['SIGNIN_' + login_provider.name.upper() + '_ENABLED'] == True %}
          {% if login_provider.extra_token_name %}
              extra_token_name['{{login_provider.name}}'] = '{{login_provider.extra_token_name}}';
          {% endif %}
          {% if login_provider.type == 'password' %}
              create_pw_text['{{login_provider.name}}'] = '{{login_provider.create_password_prompt}}';
              change_pw_text['{{login_provider.name}}'] = '{{login_provider.change_password_prompt}}';
          {% endif %}
        {% endif %}
    {% endfor %}
    {% if user.is_authenticated() %}
        var userIsAuthenticated = true;
    {% else %}
        var userIsAuthenticated = false;
    {% endif %}
    askbot['settings']['loginRedirectUrl'] = '{{ settings.LOGIN_REDIRECT_URL }}';
    (function() {
        var menuElement = $('.auth-menu');
        if (menuElement.length) {
            var authMenu = new AuthMenu();
            authMenu.decorate(menuElement);
        }
        menuElement = $('.establish-login-menu');
        if (menuElement.length) {
            var establishLoginMenu = new EstablishLoginMenu();
            establishLoginMenu.decorate(menuElement);
        }
    })();
    $(document).ready(function() {
        var completeRegistrationForm = $('.complete-registration');
        if (completeRegistrationForm.length === 1) {
            //enables the registration form
            var form = new CompleteRegistrationForm();
            form.decorate(completeRegistrationForm);
        }
    });
    //@ sourceURL=init_login_methods
</script>
