{% import "authopenid/authopenid_macros.html" as login_macros %}
<!-- signin.html -->
<div class="auth-menu">
    {% if have_buttons %}
    <div class="federated-login-methods">
        <form 
            method="post"
            action="{{ settings.LOGIN_URL }}"
        >
            {% if csrf_token == 'NOTPROVIDED' %}
                {# will be set by javascript if this is part of modal menu #}
                <input type="hidden" name="csrfmiddlewaretoken" value="NOTPROVIDED" />
            {% else %}
                {% csrf_token %}
            {% endif %}
            {{ login_form.login_provider_name }}
            {{ login_form.next }}
            {{ login_macros.provider_buttons(login_providers) }}
        </form>
    </div>
    {% endif %}
    {% if use_password_login or settings.ALLOW_ACCOUNT_RECOVERY_BY_EMAIL %}
    <div class="col1{% if settings.USE_LDAP_FOR_PASSWORD_LOGIN %} single-column{% endif %}">
        {% if use_password_login %}
        <div class="password-login">
            <p>{% trans %}Login with password{% endtrans %}</p>
            <div class="labeled-input">
                <label for="id_login-username">{% trans %}enter username or email{% endtrans %}</label>
                {{password_login_form.username}}
            </div>
            <div class="labeled-input">
                <label for="id_login-password">{% trans %}enter password{% endtrans %}</label>
                {{password_login_form.password}}
            </div>
                <input 
                    class="submit"
                    type="submit"
                    value="{% trans %}Login{% endtrans %}"
                    data-url='{% url "user_password_signin" %}'
                />
        </div>
        {% endif %}
        {% if settings.ALLOW_ACCOUNT_RECOVERY_BY_EMAIL %}
        <div class="account-recovery">
            <p class="prompt">
                {% trans %}Problems signing in?{% endtrans %}
                <a>{% trans %}recover your account{% endtrans %}</a>
            </p>
            <div class="form labeled-input">
                <label for="id_recover-email">{% trans %}enter email{% endtrans %}</label>
                {{ account_recovery_form.email }}
                <input
                    type="submit"
                    class="button"
                    value="{% trans %}Recover account{% endtrans %}"
                    data-url='{% url "user_account_recover" %}'
                />
                <!--a class="cancel">{% trans %}cancel{% endtrans %}</a-->
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}
    {% if use_password_login and settings.USE_LDAP_FOR_PASSWORD_LOGIN == False %}
    <div class="col2 password-registration">
        <p>{% trans %}Register with password{% endtrans %}</p>
        <div class="labeled-input">
            <label for="id_register-username">{% trans %}enter a username{% endtrans %}</label>
            {{ password_register_form.username }}
        </div>
        <div class="labeled-input">
            <label for="id_register-email">{% trans %}Your email{% endtrans %}</label>
            {{ password_register_form.email }}
        </div>
        <div class="labeled-input">
            <label for="id_register-password1">{% trans %}choose a password{% endtrans %}</label>
            {{ password_register_form.password1 }}
        </div>
        <div class="labeled-input">
            <label for="id_register-password2">{% trans %}repeat password{% endtrans %}</label>
            {{ password_register_form.password2 }}
        </div>
        <input 
            type="submit"
            class="submit"
            value="{% trans %}Register{% endtrans %}"
            data-url='{% url "user_register_with_password" %}'
        />
    </div>
    {% endif %}
    <div class="clearfix"></div>
</div>
<!-- end signin.html -->
