{% import "authopenid/authopenid_macros.html" as login_macros %}
<!-- signin.html -->
<div class="auth-menu">
    {% if have_buttons %}
    <div class="federated-login-methods">
        <p>{% trans %}Sign in with one of these applications:{% endtrans %}</p>
        <form 
            method="post"
            action="{{ settings.LOGIN_URL }}"
        >{% csrf_token %}
            {{ login_form.login_provider_name }}
            {{ login_form.next }}
            {{ login_macros.provider_buttons(login_providers) }}
        </form>
    </div>
    {% endif %}
    {% if use_password_login or settings.ALLOW_ACCOUNT_RECOVERY_BY_EMAIL %}
    <div class="col1{% if settings.USE_LDAP_FOR_PASSWORD_LOGIN %} single-column{% endif %}">
        {% if use_password_login %}
        <div class="password-login-method">
            <p>{% trans %}Login with username/password{% endtrans %}</p>
            <form 
                method="post"
                action='{% url "user_password_signin" %}'
            >
                <label for="id_username">{% trans %}enter username or email{% endtrans %}</label>
                {{login_form.username}}
                <label for="id_username">{% trans %}enter password{% endtrans %}</label>
                {{login_form.password}}
                <input class="submit" type="submit" value="{% trans %}Login{% endtrans %}" />
            </form>
        </div>
        {% endif %}
        {% if settings.ALLOW_ACCOUNT_RECOVERY_BY_EMAIL %}
        <div class="account-recovery">
            <p>
                {% trans %}Problems signing in?{% endtrans %}
                <a>{% trans %}recover your account{% endtrans %}</a>
            </p>
            <form 
                action='{% url "user_account_recover" %}'
                method="post"
            >{% csrf_token %}
                <label for="email_id">{% trans %}enter email{% endtrans %}</label>
                {{ account_recovery_form.email }}
                <input type="submit" class="submit" value="{% trans %}Recover account{% endtrans %}" />
                <a>{% trans %}cancel{% endtrans %}</a>
            </form>
        </div>
        {% endif %}
    </div>
    {% endif %}
    {% if use_password_login and settings.USE_LDAP_FOR_PASSWORD_LOGIN == False %}
    <div class="col2 password-registration">
        <p>{% trans %}Register with password{% endtrans %}</p>
        <form method="post" action='{% url "user_register_with_password" %}'>
            <label for="register_username_id">{% trans %}Enter a username{% endtrans %}</label>
            {{ password_register_form.username }}
            <label for="register_email_id">{% trans %}Your email{% endtrans %}</label>
            {{ password_register_form.email }}
            <label for="register_password1_id">{% trans %}choose a password{% endtrans %}</label>
            {{ password_register_form.password1 }}
            <label for="register_password2_id">{% trans %}repeat password{% endtrans %}</label>
            {{ password_register_form.password2 }}
            <input type="submit" class="submit" value="{% trans %}Register{% endtrans %}" />
        </form>
    </div>
    {% endif %}
</div>
{% include "authopenid/providers_javascript.html" %}
<!-- end signin.html -->
