{% extends "widget_base.html" %}
{% import "authopenid/authopenid_macros.html" as login_macros %}
{% from "macros.html" import timeago %}
<!-- signin.html -->
{% block title %}{% spaceless %}{% trans %}User login{% endtrans %}{% endspaceless %}{% endblock %}
{% block forestyle %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{"/style/style.css"|media}}"/>
{% endblock %}
{% block forejs %}
    {% include "meta/bottom_scripts.html" %}
    {% include "meta/html_head_javascript.html" %}
{% endblock %}
{% block content %}
{% endblock %}
{% block endjs %}
{% include "authopenid/providers_javascript.html" %}
{% endblock %}
<!-- end signin.html -->
