*.egg
*.egg-info
*.iml
*.log
*.pyc
*.swp
*.tar.tz
*.wsgi
.idea
/__init__.py
/jinja2
/log
/manage.py
/tmp/
/urls.py
askbot/cron/*stats
askbot/cron/backups
askbot/fixtures
askbot/skins/common/media/js/closure/google-closure
askbot/skins/common/media/mathjax/
askbot/skins/default/media/js/flot
askbot/upfiles/*.gif
askbot/upfiles/*.ico
askbot/upfiles/*.jpeg
askbot/upfiles/*.jpg
askbot/upfiles/*.png
askbot/upfiles/avatars/
build
cache/??
dist
django
django/*
env
lint
load
nbproject
pip-log.txt
recaptcha
run
settings.py
settings_local.py
tmp/*
