Coffin>=0.3,<=0.3.8
Jinja2>=2.8
Lamson
South>=0.7.1
akismet
beautifulsoup4
django-avatar>=2.0
django-celery>=3.0.11
django-compressor>=1.3,<=1.5',
django-countries==3.3
django-followit==0.0.9
django-keyedcache
django-kombu==0.9.4
django-picklefield==0.3.0
django-recaptcha>=1.0.3
django-robots==1.0
django-threaded-multihost
django-transaction-signals
django-tinymce==1.5.3
django>=1.5,<1.7
html5lib==0.90
jsonfield
longerusername
markdown2
mock==1.0.1
oauth2
pyjwt
pystache==0.3.1
python-cas==1.1.0
python-openid
pytz
requirements-parser
sanction==0.3.1
simplejson==simplejson
unidecode
