akismet
django>=1.5,<1.6
Jinja2
Coffin>=0.3,<=0.3.8
South>=0.7.1
#-e git+https://github.com/matthiask/south.git#egg=south
oauth2
Lamson
markdown2
html5lib==0.90
django-avatar>=2.0
django-appconf
django-compressor==1.2
django-keyedcache
django-threaded-multihost
django-robots==1.0
unidecode
django-countries==3.3
django-celery>=3.0.11
django-kombu==0.9.2
django-followit==0.0.7
django-recaptcha-works
python-openid
python-cas
pyjwt
pystache==0.3.1
pylint
pytz
sanction
django-tinymce
longerusername
mock==1.0.1
beautifulsoup4
django-picklefield==0.3.0
