{% extends "user_inbox/base.html" %}
{% import "macros.html" as macros %}
{% block profilesection %}
    {% trans %}inbox - group join requests{% endtrans %}
{% endblock %}
{% block inbox_content %}
    <table>
    {% for membership in join_requests %}
        <tr>
            {% set user = membership.user %}
            {% set user_token = user.username %}
            {% if user.real_name %}
                {% set user_token = user_token ~ ' / ' ~ user.real_name %}
            {% endif %}
            {% if user.email %}
                {% set user_token = user_token ~ ' / ' ~ user.email %}
            {% endif %}
            <td>{% trans 
                    user=user_token,
                    group=membership.group.name
                %}{{ user }} asked to join "{{ group }}"{% endtrans %}
            </td>
            <td>
                {{ macros.timeago(membership.requested_at) }}
            </td>
            <td>{# forms with accept and reject buttons #}
                <form action="{% url moderate_group_join_request %}" method="post"
                >{% csrf_token %}
                    <input 
                        type="hidden"
                        name="request_id"
                        value="{{ membership.id }}"
                    />
                    <input type="hidden" name="action" value="approve"/>
                    <input
                        type="submit"
                        value="{% trans %}Approve{% endtrans %}"
                    />
                </form>
            </td>
            <td>
                <form action="{% url moderate_group_join_request %}" method="post">
                    {% csrf_token %}
                    <input 
                        type="hidden"
                        name="request_id"
                        value="{{ membership.id }}"
                    />
                    <input type="hidden" name="action" value="deny"/>
                    <input
                        type="submit"
                        value="{% trans %}Deny{% endtrans %}"
                    />
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
