{% extends "user_profile/user.html" %}
{% import "macros.html" as macros %}
<!-- user_tags.html -->
{% block body_class %}user-tags-page{% endblock %}
{% block profilesection %}
    {% trans %}tags{% endtrans %}
{% endblock %}
{% block usercontent %}
    <h2>{% trans %}Tag subscription status{% endtrans %}</h2>
    <p>{% if request.user == view_user %}
           {% trans %}You are subscribing to:{% endtrans %}
       {% else %}
           {% trans username=view_user.username %}{{username}} is subscribing to:{% endtrans %}
       {% endif %}
       {{ tag_subscription_status }}
    </p>
    <h2>{% trans %}Subscribed tags{% endtrans %}</h2>
    {% if subscribed_tags or (use_wildcards and subscribed_wildcards) %}
        <ul id="ab-user-tags" class="tags clearfix">
        {% for tag in subscribed_tags %}
            <li>
            {{ macros.tag_widget(
                tag.name,
                html_tag = 'div',
                url_params = "start_over=true",
               )
            }}
            </li>
        {% endfor %}
        {% if use_wildcards and subscribed_wildcards %}
            {% for wildcard_name in subscribed_wildcards %}
                <li>
                {{ macros.tag_widget(
                    wildcard_name,
                    html_tag = 'div',
                    url_params = "start_over=true",
                   )
                }}
                </li>
            {% endfor %}
        {% endif %}
        </ul>
    {% else %}
        {% if request.user == view_user %}
            {% trans %}You are not subscribing to any tags yet{% endtrans %}
        {% else %}
            {% trans name=view_user.username %}{{name}} is not subscribing to any tags{% endtrans %}
        {% endif %}
    {% endif %}
    <div class="clear"></div>
    <h2>{% trans %}Ignored tags{% endtrans %}</h2>
    {% if ignored_tags or (use_wildcards and ignored_wildcards) %}
        <ul id="ab-user-tags" class="tags clearfix">
        {% for tag in ignored_tags %}
            <li>
            {{ macros.tag_widget(
                tag.name,
                html_tag = 'div',
                url_params = "start_over=true",
               )
            }}
            </li>
        {% endfor %}
        {% if use_wildcards and ignored_wildcards %}
            {% for wildcard_name in ignored_wildcards %}
                <li>
                {{ macros.tag_widget(
                    wildcard_name,
                    html_tag = 'div',
                    url_params = "start_over=true",
                   )
                }}
                </li>
            {% endfor %}
        {% endif %}
        </ul>
    {% else %}
        {% if request.user == view_user %}
            {% trans %}You do not have ignored tags yet{% endtrans %}
        {% else %}
            {% trans name=view_user.username %}{{name}} does not have any ignored tags{% endtrans %}
        {% endif %}
    {% endif %}
    <div class="clear"></div>
    <h2>{% trans %}Favorite tags{% endtrans %}</h2>
    {% if favorite_tags or (use_wildcards and favorite_wildcards) %}
        <ul id="ab-user-tags" class="tags clearfix">
        {% for tag in favorite_tags %}
            <li>
            {{ macros.tag_widget(
                tag.name,
                html_tag = 'div',
                url_params = "start_over=true",
               )
            }}
            </li>
        {% endfor %}
        {% if use_wildcards and favorite_wildcards %}
            {% for wildcard_name in favorite_wildcards %}
                <li>
                {{ macros.tag_widget(
                    wildcard_name,
                    html_tag = 'div',
                    url_params = "start_over=true",
                   )
                }}
                </li>
            {% endfor %}
        {% endif %}
        </ul>
    {% else %}
        {% if request.user == view_user %}
            {% trans %}You do not have favorite tags yet{% endtrans %}
        {% else %}
            {% trans name=view_user.username %}{{name}} does not have any favorite tags{% endtrans %}
        {% endif %}
    {% endif %}
{% endblock %}
<!-- end user_votes.html -->
