{% import "macros.html" as macros %}
<form id="fmask" action="{% url "ask" %}" method="post" >{% csrf_token %}
    <div class="form-item form-group ask-form-bar">
        <label for="id_title">{{ form.title.help_text }}</label>
        {% if form.title.errors %}
            <span class="form-error">{{ form.title.errors }}</span>
        {% endif %}
        <div id="askFormBar" class="search-bar">
            <input id="id_title" class="questionTitleInput" name="title" autocomplete="off"
                value="{% if form.initial.title %}{{form.initial.title|escape}}{% endif %}"/>
        </div>
    </div>

    {% if editor_is_folded %}
        <a class="question-body-trigger"><label for="editor">{{ form.text.label }}</label></a>
    {% else %}
        <label for="editor">{{ form.text.label }}</label>
    {% endif %}
    <div class="folded-editor{% if editor_is_folded == False %} unfolded{% endif %}">
        <div class="editor-proper">
            {{ macros.edit_post(form, settings) }}
        </div>
    </div>

    {% include "widgets/tags_field.html" %}
    
    {{ form.group_id }}

    <div class="question-options">
        {% set post_form=form %}
        {% include "widgets/proxy_author_fields.html" %}
        {% if settings.WIKI_ON %}
            {{ macros.checkbox_in_div(form.wiki) }}
        {% endif %}
        {% if settings.ALLOW_ASK_ANONYMOUSLY %}
            {{ macros.checkbox_in_div(form.ask_anonymously) }}
        {% endif %}
        {% if settings.GROUPS_ENABLED and
            request.user.is_authenticated() and
            request.user.can_make_group_private_posts()
        %}
            {{ macros.checkbox_in_div(form.post_privately) }}
        {% endif %}
        {% if settings.MULTILINGUAL %}
        <div class="lang-selector">
            <label for="id_language">{% trans %}Select language{% endtrans %}</label>
            {{ form.language }}
        </div>
        {% endif %}
    </div>
    {% if form.recaptcha %}
        <div>{{ macros.form_field_with_errors(form.recaptcha) }}</div>
        <div class="clearfix"></div>
    {% endif %}
    {% if request.user.is_anonymous() and not settings.ALLOW_ASK_UNREGISTERED %}
        <input type="submit" name="post_anon" value="{% trans %}Login/Signup to Post{% endtrans %}" />
    {% else %}
      <input type="submit" name="post" value="{{ settings.WORDS_ASK_YOUR_QUESTION|escape }}" />
    {% endif %}
    <div class="clean"></div>
</form>
