{% if active_tab != "ask" %}
    {% if not search_state %}  {#  get empty SearchState() if there's none #}
        {% set search_state=search_state or dummy_search_state %}
    {% endif %}
    {% if group %}
        {% set group_id = group.id %}
        {% set group_name = group.name %}
    {% elif default_ask_group_id %}
        {% set group_id = default_ask_group_id %}
        {% set group_name = default_ask_group_name %}
    {% else %}
        {% set group_id = None %}
        {% set group_name = None %}
    {% endif %}
    <a
        id="askButton"
        class="button"
        href="{{ search_state.full_ask_url(group_id=group_id) }}"
        >{% if group_id %}
            {{ settings.WORDS_ASK_THE_GROUP|escape }}
        {% else %}
            {{ settings.WORDS_ASK_YOUR_QUESTION|escape }}
        {% endif %}</a>
{% endif %}
