<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLanguages" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-globe"></i><span class="curr-lang">{{ settings.LANGUAGES_DICT[current_language_code] }}</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownLanguages">
        {% for lang in settings.LANGUAGES_DICT %}
            {% if lang != current_language_code %}
                <a class="dropdown-item"
                   href="/{{ lang }}/{{ settings.ASKBOT_URL }}"
                   data-lang="{{ lang }}"
                >{{ settings.LANGUAGES_DICT[lang] }}</a>
            {% endif %}
        {% endfor %}
    </div>
</li>
