{% import "macros.html" as macros%}
<ul class="navbar-nav ml-auto">
    <li class="nav-item {% if active_tab == 'tags' %}active{% endif %}">
        <a class="nav-link"
           href="{% url tags %}"><i class="fa fa-tags" aria-hidden="true"></i>{% trans %}tags{% endtrans %}</a>
    </li>
{% if settings.GROUPS_ENABLED %}
    <li class="nav-item {% if active_tab == 'groups' %}active{% endif %}">
        <a class="nav-link"
           href="{% url groups %}"
           data-target="#"><i class="fa fa-users" aria-hidden="true"></i>{% trans %}people & groups{% endtrans %}</a>
    </li>
{%else%}
    <li class="nav-item {% if active_tab == 'users' %}active{% endif %}">
        <a class="nav-link"
           href="{% url users %}"><i class="fa fa-users" aria-hidden="true"></i>{% trans %}users{% endtrans %}</a>
    </li>
{% endif %}
{% if settings.BADGES_MODE == 'public' %}
    <li class="nav-item {% if active_tab == 'badges' %}active{% endif %}">
        <a class="nav-link"
           href="{% url badges %}"><i class="fa fa-cog" aria-hidden="true"></i>{% trans %}badges{% endtrans %}</a>
    </li>
{% endif %}
</ul>
