<div class="modal-backdrop"
    {% if not modal_is_open %}style="display:none"{% endif %}
></div>
<div class="modal
    {% block modal_class %}{% endblock %}"
    {% if not modal_is_open %}style="display:none"{% endif %}
>
    <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <h3>{% block modal_title %}{% endblock %}</h3>
    </div>
    <div class="modal-body">
        {% block modal_body %}{% endblock %}
    </div>
    <div class="modal-footer">
        {% block modal_footer %}{% endblock %}
    </div>
</div>
