{% if user and user.is_authenticated() and user.is_administrator() %}
    {# admin can post answers or questions on behalf of anyone. #}
    <div class="form proxy-user-info">
        <p class="form-text mb-2">
            {% trans %}To post on behalf of someone else, enter user name <strong>and</strong> email below.{% endtrans %}
        </p>
        <div class="row">
            <div class="col">
                <input id="id_post_author_username"
                       name="post_author_username"
                       class="form-control"
                       type="text"
                       placeholder="{% trans %}User name{% endtrans %}" autocomplete="off"/>
                <span class="form-error">{{ post_form.post_author_username.errors }}</span>
            </div>
            <div class="col">
                <input id="id_post_author_email"
                       name="post_author_email"
                       class="form-control"
                       type="text"
                       placeholder="{% trans %}Email address{% endtrans %}">
                <span class="form-error">{{ post_form.post_author_email.errors }}</span>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        askbot['urls']['get_users_info'] = '{% url get_users_info %}';
    </script>
{% endif %}
