{% if active_tab != "ask" %}
{% spaceless %}
{% set enabled_scopes_class = 'scopes-' + 
    '%s'|format(settings.ALL_SCOPE_ENABLED) + '-' +
    '%s'|format(settings.UNANSWERED_SCOPE_ENABLED) + '-' +
    '%s'|format((request.user.is_authenticated() and settings.FOLLOWED_SCOPE_ENABLED))
%}
<div 
    id="searchBar"
    class="{% if query %}cancelable{% endif %} {{ enabled_scopes_class }}"
>
    {# url action depends on which tab is active #}
            {% if active_tab == "tags" %}
                <input type="hidden" name="t" value="tag"/>
            {% else %}
                {% if active_tab == "users" %}
                    <input type="hidden" name="t" value="user"/>
                {% endif %}
            {% endif %}
            {# class was searchInput #}
            <input 
                class="searchInput" 
                type="text" 
                autocomplete="off"
                value="{{ query|default_if_none('') }}" 
                name="query" 
                id="keywords"
            />
</div>
{% endspaceless %}
{% endif %}
