{% if active_tab !="ask" %}
    {% spaceless %}
    <div class="search-bar" id="searchBar" class="{% if query %}cancelable{% endif %}">
        {# url action depends on which tab is active #}
        {% if active_tab == "tags" %}
        <input class="search-tag" type="text" autocomplete="off" value="{{ query|default_if_none('')|escape }}" name="query" id="keywords" />
        {% set query=stag %}
        {% elif active_tab == "users" %}
        <input class="search-user" type="text" autocomplete="off" value="{{ query|default_if_none('')|escape }}" name="query" id="keywords" />
        {% else %}
        <input class="searchInput" type="text" autocomplete="off" value="{{ query|default_if_none('')|escape }}" name="query" id="keywords" />
        {% endif %}
    </div>
    <div class="cancelSearchBtn"
        {% if not query %}
        {# query is only defined by questions view (active_tab) #}
        style="display: none;"
        {% endif %}
        >
        <button type="submit" name="reset_query" class="postfix">
            <i class="fa fa-eraser"></i>
        </button>
    </div>
    <div class="searchBtn">
        <button type="submit" value="" name="search" class="postfix" />
        <i class="fa fa-search"></i>
    </div>
    {% endspaceless %}
    {% endif %}
