<!-- template secondary_header.html -->
{# form is wrapping search buttons and the search bar inputs #}
{% set enabled_scopes_class = 'scopes-' +
'%s'|format(settings.ALL_SCOPE_ENABLED) + '-' +
'%s'|format(settings.UNANSWERED_SCOPE_ENABLED) + '-' +
'%s'|format((request.user.is_authenticated() and settings.FOLLOWED_SCOPE_ENABLED))
%}
<form
    {% if active_tab==
"tags" %}
action="{% url tags %}"
{% elif page_class == 'user-profile-page' %}
action="{% url questions %}" id="searchForm"
{% elif active_tab == "users" %}
action=""
{% else %}
action="{% url questions %}" id="searchForm"
{% endif %}
class="{{ enabled_scopes_class }}"
method="get">
{#
A single row table to help the semi-fixed width layout where:
* all cells have "tight width" without linebreaks
* except that the search bar cell takes the remaining width
We had hard time making this layout work without tables.
Please suggest if there is a better way.
#}


<nav class="question">
    <div class="container">
        <div class="row">

            <div class="{% if settings.ASK_BUTTON_ENABLED %}col-lg-9 col-md-8{% else %}col-lg-12{% endif %}">
                <div class="inner-q">
                    <div class="home-btn">
                        <a id="homeButton" href="{% url questions %}"><i class="fa fa-home"></i></a>
                    </div>
                    <div class="scope-nav">{% include "widgets/scope_nav.html" %}</div>
                    <div class="search-bar-wrap">{% include "widgets/search_bar.html" %}</div>
                </div>
            </div>
            {% if settings.ASK_BUTTON_ENABLED %}
            <div class="col-lg-3 col-md-4 d-none d-md-block">
                <div class="ask-question">
                    {% include "widgets/ask_button.html" %}
                    </dib>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>

</form>
