<div class="content-wrapper"><p><strong>This version of Askbot is made to transition from Django 1.5 and 1.6
version 1.7 and higher. Do not use this version in production.  To upgrade or select appropriate version of Askbot,
please follow <a href="https://github.com/ASKBOT/askbot-devel/blob/master/askbot/doc/source/upgrade.rst">the instructions</a>.
</strong></p>
</div>
<div class="notify" style="display:none">
    <div class="content-wrapper">
        {% if user_messages %}
            {% for message in user_messages %}
                  {% if message %}<p class="notification">{{ message }}</p>{% endif %}
            {% endfor %}
        {% endif %}
        <a id="closeNotify" onclick="notify.close(true)"></a>
    </div>
</div>
