<div class="notify" style="display:none">
    <div class="alert alert-warning alert-dismissible fade show text-center mb-0 font-weight-bold fixed-top" role="alert">
        <div class="container">
            <button type="button" class="close" data-dismiss="alert" id="closeNotify" onclick="notify.close(true)"
                    aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {% if user_messages %}
            {% for message in user_messages %}
            {% if message %}<p class="notification">{{ message }}</p>{% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
