
{%- if request.user.is_authenticated() -%}
    <li class="nav-item active">
        <a class="nav-link nav-user"
           href="{{ request.user.get_absolute_url() }}"
        >{{ request.user.username|escape }}
        </a>
        <span class="user-info">
            {{ macros.inbox_link(request.user) }}
            {{ macros.moderation_items_link(request.user, moderation_items) }}
            {%- if settings.KARMA_MODE != 'hidden' or settings.BADGES_MODE != 'hidden' -%}
                ({{ macros.user_long_score_and_badge_summary(user) }})
            {%- endif -%}
        </span>
    </li>
    {% if settings.USE_ASKBOT_LOGIN_SYSTEM %}
        <li class="nav-item">
            <a class="nav-link" href="{{ settings.LOGOUT_URL }}?next={{ settings.LOGOUT_REDIRECT_URL }}"
            >{% trans %}sign out{% endtrans %}
            </a>
        </li>
    {% endif %}
{% elif settings.USE_ASKBOT_LOGIN_SYSTEM and not on_login_page %}
    {% include "widgets/login_link.html" %}
{% endif %}
{% if request.user.is_authenticated() and request.user.is_administrator() %}
    <li class="nav-item">
        <a class="nav-link settings" href="{% url site_settings %}">{% trans %}settings{% endtrans %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link widgets" href="{% url widgets %}">{% trans %}widgets{% endtrans %}</a>
    </li>
{% endif %}
<li class="nav-item">
    <a class="nav-link" href="{% url "help" %}" title="{% trans %}help{% endtrans %}">{% trans %}help{% endtrans %}</a>
</li>

