{% if request.user.is_authenticated() %}
    <a href="{{ request.user.get_absolute_url() }}">{{ request.user.username }}</a> 
    <span class="user-info">
    {{ macros.inbox_link(request.user) }}
    {{ macros.moderation_items_link(request.user, moderation_items) }}
    ({{ macros.user_long_score_and_badge_summary(user) }})
    </span>
    <a href="{{ settings.LOGOUT_URL }}?next={{ settings.LOGOUT_REDIRECT_URL }}">{% trans %}logout{% endtrans %}</a>
{% else %}
    <a href="{{ settings.LOGIN_URL }}"
        title="{% trans %}Please, sign in or Join askbot!{% endtrans %}"
    >{% trans %}login{% endtrans %}</a>
{% endif %}
<select id="lang_selector" name="language" title="pick language (number in the parentheses is translation progress)">
{% for lang in LANGUAGES %}
    <option value="{{lang[0]}}"
    {% if lang[0]==LANGUAGE_CODE %}
        selected="selected"
    {% elif LANGUAGE_CODE == 'zh-cn' and lang[0] == 'zh_CN' %}
        selected="selected"
    {% endif %}
    >
        {{lang[1]}} ({{ settings.LANGUAGE_PROGRESS[lang[0]]}}%)
    </option>
{% endfor %}
    <!--option name="thanks">hey, thanks for looking down here</option-->
</select>
<!--br/>
<a style="text-decoration:none; margin:0 0 0 177px; padding:0;" href="/en/question/47/how-to-translate-askbot-into-my-language"
>({% trans %}please help translate! see credits{% endtrans %})</a-->
{% if request.user.is_authenticated() and request.user.is_administrator() %}
    <a href="{% url site_settings %}">{% trans %}settings{% endtrans %}</a>
{% endif %}
