<!-- question_edit_tips.html -->
<div class="boxC">
    <h2>{% trans %}Markdown tips{% endtrans %}</h2>
    <ul>
        {% if settings.MARKUP_CODE_FRIENDLY or settings.ENABLE_MATHJAX %}
        <li>
            {% trans %}*italic*{% endtrans %}
        </li>
        <li>
            {% trans %}**bold**{% endtrans %}
        </li>
        {% else %}
        <li>
            {% trans %}*italic* or _italic_{% endtrans %}
        </li>
        <li>
            {% trans %}**bold** or __bold__{% endtrans %}
        </li>
        {% endif %}
        <li>#H1 Header<br>##H2 Header<br>###H3 Header<br>####H4 Header</li>
        <li><b>force a line-break</b>: Terminate line with 2 spaces</li>
        <li>
            code block or WYSIWYG display:<br> &lt;pre&gt;
            <pre>This is fixed
         in width and spacing.</pre>&lt;/pre&gt;
        </li>
        <li>
            <b>{% trans %}link{% endtrans %}</b>:[{% trans %}text{% endtrans %}](http://url.com/ "{% trans %}title{% endtrans %}")

        </li>
        
        <li>
            <b>{% trans %}image{% endtrans %}</b>:![alt {% trans %}text{% endtrans %}](/path/img.jpg "{% trans %}title{% endtrans %}")

        </li>
        <li>
           <b>file</b>: Use paperclip icon on toolbar of editor box
        </li>
        <li>
            {% trans %}numbered list:{% endtrans %}
            1.  Foo
            2.  Bar
        </li>
        <li>
            {% trans %}basic HTML tags are also supported{% endtrans %}
        </li>
    </ul>
    <p class='info-box-follow-up-links'>
        <a href="http://en.wikipedia.org/wiki/Markdown" target="_blank">{% trans %}learn more about Markdown{% endtrans %} »</a>
    </p>
</div>
<!-- end question_edit_tips.html -->
