<div class="form-group">
    <label for="editor">{{ post_form.text.label }}</label>
    {% if post_form.text.errors %}
        <label for="editor" class="form-error">{{ post_form.text.errors }}</label>
    {% endif %}
    {% if settings.EDITOR_TYPE == 'markdown' %}
        <div class="wmd-container">
            <div id="wmd-button-bar" class="wmd-panel"></div>
            {{ post_form.text }}{# this element is resizable and will be wrapped by js #}
        </div>
        <div class="form-item">
            <p class="editor-status action-status"><span></span></p>
        </div>
        <div class="preview-toggle">
            <span 
                id="pre-collapse" 
                title="{% trans %}Toggle the real time Markdown editor preview{% endtrans %}"
            >
                [{% trans %}hide preview{% endtrans %}]
            </span>
        </div>
        <div class="clearfix"></div>
        <div id="previewer" class="wmd-preview"></div>
    {% else %}
        <div class="wmd-container">
            {{ post_form.media }}
            {{ post_form.text }}
        </div>
        <script type="text/javascript">
            {% if post_html %}
                askbot['data']['editorContent'] = '{{ post_html|escapejs }}';
            {% endif %}
        </script>
        <div class="form-item">
            <p class="editor-status action-status"><span></span></p>
        </div>
    {% endif %}
</div>
