{% if request.user.is_authenticated() %}
    <a href="{{ request.user.get_absolute_url() }}">{{ request.user.username }}</a> 
    <span class="user-info">
    {{ macros.inbox_link(request.user) }}
    {{ macros.moderation_items_link(request.user, moderation_items) }}
    ({{ macros.user_long_score_and_badge_summary(user) }})
    </span>
    <a href="{{ settings.LOGOUT_URL }}?next={{ settings.LOGOUT_REDIRECT_URL }}">{% trans %}logout{% endtrans %}</a>
{% else %}
    <a href="{{ settings.LOGIN_URL }}">{% trans %}login{% endtrans %}</a>
{% endif %}

{% if request.user.is_authenticated() and request.user.is_administrator() %}
	<span class="dropDownMenu">
		<a href="javascript:$('#settingsDropDownMenu').toggle()">{% trans %}settings{% endtrans %} &darr;</a>
		<ul id="settingsDropDownMenu">
			<li><a href="{% url site_settings %}">{% trans %}settings{% endtrans %}</a></li>
			<li><a href="{% url site_analytics %}">{% trans %}analytics{% endtrans %}</a></li>
		</ul>
		<script type="text/javascript" language="javascript">//<![CDATA[
			$('#settingsDropDownMenu').hide();
		//]]></script>
	</span>
{% endif %}

