{% extends "user_profile/user.html" %}
{% block profilesection %}
    {% trans %}languages{% endtrans %}
{% endblock %}
{% block usercontent %}
    <div class="clearfix"></div>
    <h2>{% trans %}Languages{% endtrans %}</h2>
    <form
        method="post" 
        action="{% url user_select_languages view_user.id, view_user.username|slugify %}"
    >{% csrf_token %}
        <select multiple name="languages">
        {% for lang in settings.LANGUAGES_DICT %}
            <option 
                value="{{ lang }}"
                {% if lang in user_languages %}selected="selected"{% endif %}
            >{{ settings.LANGUAGES_DICT[lang] }}</option>
        {% endfor %}
        </select><br/>
        <input type="submit" class="select-language" value="{% trans %}Save languages{% endtrans %}" />
    </form>
{% endblock %}
