{% extends "user_profile/user.html" %}
<!-- user_moderate.html -->
{% block profilesection %}
    {% trans %}manage account{% endtrans %}
{% endblock %}
{% block usercontent %}
<big>{% trans %}If you would like to delete your account or obtain your data,
use one of the options below{% endtrans %}</big>
<form style="margin-top: 10px" method="post">{% csrf_token %}
    <input type="hidden" name="sort" value="manage-account"/>
    <input type="submit" name="terminate_account"
                         value="{% trans %}Ask to remove your account{% endtrans %}" />
    <input type="submit" name="export_data"
                         value="{% trans %}Request your data{% endtrans %}" />
</form>
{% endblock %}
