{% extends "one_column_body.html" %}
<!-- user.html -->
{% block title %}{% spaceless %}{{ page_title }}{% endspaceless %}{% endblock %}
{% block forestyle %}
<style type="text/css">
    .history-table td { padding: 5px; }
</style>
{% endblock %}
{% block content %}
    <h1 class="section-title">
        {% spaceless %}
        {% trans username=view_user.username|escape %}{{username}}'s profile{% endtrans %} - {% block profilesection %}{% endblock %}
        {% endspaceless %}
    </h1>
    {% include "user_profile/user_tabs.html" %}
    <div>
        {% block usercontent %}
        {% endblock %}
    </div>
{% endblock %}<!-- end user.html -->
{% block endjs %}
    <script type="text/javascript">
        askbot['data']['viewUserName'] = '{{ view_user.username|escape }}';
        askbot['data']['viewUserId'] = {{ view_user.id }};
        askbot['urls']['edit_group_membership'] = '{% url edit_group_membership %}';
        askbot['urls']['getGroupsList'] = '{% url get_groups_list %}';
        askbot['urls']['getTopAnswers'] = '{% url get_top_answers %}';
    </script>
    {% if request.user|can_moderate_user(view_user) %}
        <script type='text/javascript' src="{{ '/js/jquery.form.js'|media }}"></script>
    {% endif %}
    <script type="text/javascript" src="{{ '/js/askbot/user/response_notifs.js'|media }}"></script>
    <script type="text/javascript" src="{{ '/js/askbot/user/decline_and_explain_menu.js'|media }}"></script>
    <script type="text/javascript" src="{{ '/js/askbot/user/post_moderation_controls.js'|media }}"></script>
    <script type="text/javascript" src="{{ '/js/askbot/user/manage_reject_reasons_dialog.js'|media }}"></script>
    <script type="text/javascript" src="{{ '/js/askbot/user/follow_user.js'|media }}"></script>
    <script type="text/javascript" src="{{ '/js/askbot/user/user_group.js'|media }}"></script>
    <script type="text/javascript" src="{{ '/js/askbot/user/groups_container.js'|media }}"></script>
    <script type="text/javascript" src="{{ '/js/askbot/user/group_adder_widget.js'|media }}"></script>
    <script type="text/javascript" src="{{ '/js/askbot/user/user_groups_editor.js'|media }}"></script>
    <script type="text/javascript" src="{{ '/js/askbot/user/tweeting.js'|media }}"></script>
    <script type="text/javascript" src="{{ '/js/askbot/user/user_questions_paginator.js'|media }}"></script>
    <script type="text/javascript" src="{{ '/js/askbot/user/user_answer_paginator.js'|media }}"></script>
    <script type="text/javascript" src="{{ '/js/askbot/user.js'|media }}"></script>
    <script type='text/javascript' src="{{ '/js/libs/jquery.validate.min.js'|media }}"></script>
    <script type='text/javascript' src='{{"/js/libs/prettify.js"|media}}'></script>
    <script type="text/javascript" src="{{ '/js/askbot/post.js'|media }}"></script>
    {% block userjs %}
    {% endblock %}
{% endblock %}
{% block sidebar %}
    {% if 'SIDEBAR_PROFILE'|show_block_to(request.user) %}
    <div class="box">
        {{ settings.SIDEBAR_PROFILE }}
    </div>
    {% endif %}
{% endblock %}
<!-- end of user.html -->
