{% extends "base.html" %}
{% block forestyle %}
<style>
  .ui-menu { width: 200px; }
</style>
{% endblock %}
{% block body %}
<p>Categories tree widget -- Step #13.</p>
<ul class="target">
  <li><a href="#">Everything</a>
    <ul>
      <li><a href="#">Health</a>
        <ul>
          <li><a href="#">Fitness</a>
            <ul>
              <li><a href="#">Bodybuilding</a></li>
              <li><a href="#">Sports</a>
                <ul>
                  <li><a href="#">Martial arts</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="#">Relationships</a></li>
      <li><a href="#">Career</a></li>
      <li><a href="#">Family</a></li>
    </ul>
  </li>
</ul>
{% endblock %}
