<!-- template header.html -->
{% load extra_tags %}
{% load extra_filters %}
{% load smart_if %}
{% load i18n %}
{% load localeurl_tags %}
<div id="roof">
    <div id="navBar">
    <a style="position:absolute;top:10px;right:30px;" href='http://www.pledgie.com/campaigns/12608'><img alt='Click here to lend your support to: askbot-devel and make a donation at www.pledgie.com !' src='http://www.pledgie.com/campaigns/12608.png?skin_name=chrome' border='0' /></a>
        <div id="top">
            {% if request.user.is_authenticated %}
                <a href="{% url user_profile id=request.user.id,slug=request.user.username|slugify %}"
                    title="{% trans "see your user profile" %}"
                >Hi, {{ request.user.username }}</a> 
                {% spaceless %}
                <a class='ab-responses-envelope' href="{{request.user.get_absolute_url}}?sort=responses">
                    <img 
                        alt="{%blocktrans with request.user.username as username %}responses for {{username}}{% endblocktrans %}"
                        {% if request.user.response_count > 0 %}
                        src="{% media "/images/mail-envelope-full.png" %}"
                        title="{% blocktrans count request.user.response_count as response_count %}you have a new response{% plural %}you nave {{response_count}} new responses{% endblocktrans %}"
                        {% else %}
                        src="{% media "/images/mail-envelope-empty.png" %}"
                        title="{% trans "no new responses yet" %}"
                        {% endif %}
                    />
                </a>
                {% endspaceless %}
                ({% get_long_score_and_badge_report user %})
                <a href="{% url logout %}"
                    title="{% trans "sign out from askbot" %}"
                >{% trans "logout" %}</a>
            {% else %}
                <a href="{% url user_signin %}"
                    title="{% trans "Please, sign in or Join askbot!" %}"
                >{% trans "login" %}</a>
            {% endif %}
            <a href="/doc/index.html" title="it's real easy(ish) to install askbot, there is also some developer documentation">install/docs</a>
            <!--a href="/doc/index.html" title="read documentation">docs</a-->
            <a href="http://twitter.com/askbot7" title="follow @askbot7 on twitter!">@twitter</a>
            <a href="http://github.com/ASKBOT/askbot-devel" title="fork us on github!">github</a>
            <select id="lang_selector" name="language" title="pick language (number in the parentheses is translation progress)">
            {% for lang in LANGUAGES %}
                <option value="{{lang.0}}"
                {% ifequal lang.0 LANGUAGE_CODE %}
                    selected="selected"
                {% endifequal %}
                >
                    {{lang.1}} ({{ settings.LANGUAGE_PROGRESS|get_dict_value:lang.0}}%)
                </option>
            {% endfor %}
                <!--option name="thanks">hey, thanks for looking down here</option-->
            </select>
            <br/>
            <a style="text-decoration:none; margin:0; padding:0;" href="/en/question/47/how-to-translate-askbot-into-my-language"
            >({% trans "please help translate! see credits" %})</a>
            {% if request.user.is_administrator %}
            <a href="{% url site_settings %}">{% trans "settings" %}</a>
            {% endif %}
        </div>
        <table border="0" cellspacing="0" cellpadding="0">
          <tr>
    <td id="logoContainer">
        <div id="logo">
            <a href="{% url questions %}?start_over=true"><img 
                src="{% media settings.SITE_LOGO_URL %}" title="{% trans "back to home page" %}" alt="{{settings.APP_TITLE}} logo"/></a>
        </div>
    </td>
    <td id="navTabContainer" valign="bottom" align="left">
        <div class="nav">
            <a id="nav_questions" href="{% url questions %}" >{% trans "questions" %}</a>
            <a id="nav_tags" href="{% url tags %}">{% trans "tags" %}</a>
            <a id="nav_users" href="{% url users %}">{% trans "users" %}</a>
            <a id="nav_badges" href="{% url badges %}">{% trans "badges" %}</a>
            <a id="nav_ask" href="{% url ask %}" class="special">{% trans "ask a question" %}</a>
        </div>
    </td>
          </tr>
        </table>
    </div>
</div>
<!-- end template header.html -->
