{% compress css %}
    <link href="{{ '/style/style.css'|media }}" rel="stylesheet" type="text/css" />
    {% set extra_css = '/style/extra.css'|media(ignore_missing=True) %}
    {% if extra_css %}
        <link href="{{ extra_css }}" rel="stylesheet" type="text/css" />
    {% endif %}
    <link href="{{ '/fa-4.3.0/css/font-awesome.css'|media }}" rel="stylesheet" type="text/css" />
    <link href="{{ '/bootstrap/css/bootstrap.css'|media }}" rel="stylesheet" type="text/css" />
{% endcompress %}
{% if settings.USE_CUSTOM_CSS %}
    {# can't compress yet because this comes from live settings #}
    <link
        href="{% url "custom_css" %}?v={{ settings.MEDIA_RESOURCE_REVISION }}"
        rel="stylesheet"
        type="text/css"
    />
{% endif %}
