{% extends "basic/layout.html" %}
{% block relbar1 %}
<div class="ab-proj-header">
    <ul>
        <li class="first"><a href="/questions/">Home (forum)</a></li>
        <span class="sep">|</span>
        <li><a href="/doc/index.html">Documentation</a></li>
        <span class="sep">|</span>
        <li><a href="/feedback/">Contact us</a></li>
        <span class="sep">|</span>
        <li><a href="/wiki/index.php/Main_Page">Wiki</a></li>
        <span class="sep">|</span>
        <li><a href="http://twitter.com/askbot7">Follow @askbot7</a></li>
        <span class="sep">|</span>
        <li><a href="http://github.com/ASKBOT/askbot-devel/">Fork on github</a></li>
        {#<li><a href="/doc/about.html">About</a></li>
        <span class="sep">|</span>#}
        {#<span class="sep">|</span>
        <li><a href="/doc/download.html">Download</a></li>#}
    </ul>
</div>
{% endblock %}
{% block relbar2 %}
{% endblock %}
