<div class="row mt-3">
    <div class="col-md-6">
        <h2 id="questionCount">
            {% set pluralized_item_term=settings.WORDS_ANSWERS_COUNTABLE_FORMS|py_pluralize(answer_count)|capitalize|escape %}
            {% set item_count=answer_count %}
            {% trans %}<span class="count">{{ item_count }}</span> {{ pluralized_item_term }}{% endtrans %}
        </h2>
    </div>
    <div class="col-md-6">
        <div class="tab-bar">
            <div class="input-group">
                <span class="input-group-addon">{% trans %}Sort by »{% endtrans %}</span>

                <a class="input-group-addon"
                   id="oldest"
                   href="{{ question.get_absolute_url() }}?sort=oldest#sort-top"
                >{% trans %}oldest{% endtrans %}</a>
                <a class="input-group-addon"
                   id="latest"
                   href="{{ question.get_absolute_url() }}?sort=latest#sort-top"
                >{% trans %}newest{% endtrans %}</a>
                <a class="input-group-addon"
                   id="votes"
                   href="{{ question.get_absolute_url() }}?sort=votes#sort-top"
                >{% trans %}most voted{% endtrans %}</a>
            </div>
        </div>
    </div>
</div>
