{% import "macros.html" as macros %}
{{ macros.post_vote_buttons(post = answer) }}
{% if settings.ACCEPTING_ANSWERS_ENABLED %}
<div
    id="answer-img-accept-{{ answer.id }}"
    class="answer-img-accept"
        {% if answer.accepted() %}
    title="{% if settings.WORDS_THIS_ANSWER_HAS_BEEN_SELECTED_AS_CORRECT %}{{ settings.WORDS_THIS_ANSWER_HAS_BEEN_SELECTED_AS_CORRECT }}{% else %}{% trans %}this answer has been selected as correct{% endtrans %}{% endif %}"
        {% else %}
    title="{% if settings.WORDS_MARK_THIS_ANSWER_AS_CORRECT %}{{ settings.WORDS_MARK_THIS_ANSWER_AS_CORRECT }}{% else %}{% trans %}mark this answer as correct (click again to undo){% endtrans %}{% endif %}"
        {% endif %}
></div>
{% endif %}
