<a id="js-edit-btn-post-body-{{ question.pk }}"
   class="question-edit js-edit"><i class="fa fa-pencil" aria-hidden="true"></i>{% trans %}edit{% endtrans %}</a>
<a id="retag" class="question-retag"><i class="fa fa-tag" aria-hidden="true"></i>{% trans %}retag{% endtrans %}</a>
{% if question.offensive_flag_count > 0 %}
    <span
        id="question-offensive-remove-flag-{{ question.id }}"
        class="offensive-flag"
        title="{% trans %}report as offensive (i.e containing spam, advertising, malicious text, etc.){% endtrans %}"
    >
        <a class="question-flag"><i class="fa fa-flag" aria-hidden="true"></i>{% trans %}remove flag{% endtrans %}</a>
    </span>
    <span
        id="question-offensive-flag-{{ question.id }}" class="offensive-flag"
        title="{% trans %}report as offensive (i.e containing spam, advertising, malicious text, etc.){% endtrans %}"
    >
        <a class="question-flag"><i class="fa fa-flag" aria-hidden="true"></i>{% trans %}flag offensive{% endtrans %} ({{ question.offensive_flag_count }})</a>
    </span>
{% else %}
    <span
        id="question-offensive-flag-{{ question.id }}" class="offensive-flag"
        title="{% trans %}report as offensive (i.e containing spam, advertising, malicious text, etc.){% endtrans %}"
    >
        <a class="question-flag"><i class="fa fa-flag" aria-hidden="true"></i>{% trans %}flag offensive{% endtrans %}</a>
    </span>
{% endif %}
{% if thread.closed %}
    <a class="question-close" href="{% url reopen question.id %}">{% trans %}reopen{% endtrans %}</a>
{% else %}
    <a class="question-close" href="{% url close question.id %}"><i class="fa fa-times" aria-hidden="true"></i>{% trans %}close{% endtrans %}</a>
{% endif %}
<a class="question-merge"><i class="fa fa-compress" aria-hidden="true"></i>{% trans %}merge{% endtrans %}</a>
<a
    id="post-{{question.id}}-delete"
    class="question-delete"
><i class="fa fa-trash-o" aria-hidden="true"></i>{% if question.deleted %}{% trans %}undelete{% endtrans %}{% else %}{% trans %}delete{% endtrans %}{% endif %}</a>
<script type="text/javascript">
    askbot['functions']['renderPostControls']('{{question.id}}'{{ ', true' if question.wiki }});
</script>
