{% import "macros.html" as macros %}
{% if 'SIDEBAR_QUESTION_HEADER'|show_block_to(request.user) %}
<div class="box">
    {{ settings.SIDEBAR_QUESTION_HEADER }}
</div>
{% endif %}
<div class="card text-center mb-3">
    <div class="card-header">{{ settings.WORDS_QUESTION_TOOLS|escape }}</div>
    <div class="card-body">
{#        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>#}
        <button class="js-follow-question btn btn-info"
                data-is-on="{{ favorited|as_js_bool }}"
                data-off-prompt-text="{% trans %}Unfollow{% endtrans %}"
                data-on-prompt-text="{% trans %}Follow{% endtrans %}"
                data-on-state-text="{% trans %}Following{% endtrans %}"
                data-off-state-text="{% trans %}Follow{% endtrans %}"
                data-toggle-url="{% url 'toggle_follow_question' %}"
        >
            {% if favorited %}
                {% trans %}Following{% endtrans %}
            {% else %}
                {% trans %}Follow{% endtrans %}
            {% endif %}
        </button>
        <div class="js-question-follower-count pt-1 pb-1 font-weight-bold">
            {% set follower_count = thread.favourite_count %}
            {% if follower_count > 0 %}
                {% trans count=follower_count %}{{ count }} follower{% pluralize %}{{ count }} followers{% endtrans %}
            {% endif %}
        </div>
        <div class="notify-sidebar">
            {% if settings.RSS_ENABLED %}
                <div class="rss">
                    <a
                            href="{% url 'individual_question_feed' question.id %}"
                            title="{% trans %}subscribe to the rss feed{% endtrans %}"
                    >{% trans %}subscribe to rss feed{% endtrans %}</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% if settings.GROUPS_ENABLED %}
<div class="card text-center mb-3">
    {% if thread.is_private() %}
        <div class="card-header">{% trans %}Invite{% endtrans %}</div>
        <div class="card-body">
        <p style="margin: 16px 0">{{ settings.WORDS_INVITE_OTHERS_TO_HELP_ANSWER_THIS_QUESTION|escape }}</p>
        <form action="{% url share_question_with_user %}" method="post">{% csrf_token %}
            <input id="share_user_name" type="text" class="groups-input" name="recipient_name" />
            <input type="hidden" name="thread_id" value="{{ thread.id }}"/>
            <input type="submit" class="add-groups" value="{% trans %}add{% endtrans %}"/>
        </form>
        <p class="share-input-col">{% trans %}- or -{% endtrans %}</p>
        <form action="{% url share_question_with_group %}" method="post">{% csrf_token %}
            <input id="share_group_name" type="text" class="groups-input" name="recipient_name" />
            <input type="hidden" name="thread_id" value="{{ thread.id }}"/>
            <input type="submit" class="add-groups" value="{% trans %}add{% endtrans %}"/>
        </form>
        <p class="share-input-col">{% trans %}- or -{% endtrans %}</p>
        <form action="{% url share_question_with_group %}" method="post">{% csrf_token %}
            <input
                type="hidden"
                name="recipient_name"
                value="{{ settings.GLOBAL_GROUP_NAME }}"
            />
            <input type="hidden" name="thread_id" value="{{ thread.id }}"/>
            <p class="share-input-col">
            <input
                type="submit"
                class="add-groups add-everyone-group"
                value="{% trans %}share with everyone{% endtrans %}"
            />
            </p>
        </form>

        {% set shared_users_count = sharing_info['users'].count() %}
        {% set shared_groups_count = sharing_info['groups'].count() %}

        {% if shared_users_count or shared_groups_count %}
            <p
                style="margin:16px 0 4px 0"
            >{{ settings.WORDS_THIS_QUESTION_IS_CURRENTLY_SHARED_ONLY_WITH|escape }}</p>
        {% endif %}
        <h3>{% trans %}Individual users{% endtrans %}</h3>
            {% set comma = joiner(',') %}
            {{ comma() }}
        <p>
        <a href="{{ request.user.get_profile_url() }}">
            {% trans %}You{% endtrans -%}
        </a>{%- if shared_users_count -%}
                {%- for user in sharing_info['users'] %}{{ comma() }}
                    {{ user.get_profile_link() }}
                {%- endfor -%}
            {% endif -%}
            {%- if sharing_info['more_users_count'] > 0 %}
                {% trans %}and{% endtrans %}
                <a
                    class="see-related-users"
                    data-url="{% url get_thread_shared_users %}"
                    data-thread-id="{{ thread.id }}"
                >{% trans
                        more_count=sharing_info['more_users_count']
                    %}{{ more_count }} more{% endtrans %}
                </a>
            {% endif %}
        </p>

        {% if shared_groups_count %}
            <h3>{% trans %}Groups{% endtrans %}</h3>
            <p>
                {% set comma = joiner(',') %}
                {%- for group in sharing_info['groups'] -%}{{ comma() }}
                    {{ macros.user_group_link(group) }}
                {%- endfor -%}
                {% if sharing_info['more_groups_count'] > 0 %}
                    {% trans %}and{% endtrans %}
                    <a
                        class="see-related-groups"
                        data-url="{% url get_thread_shared_groups %}"
                        data-thread-id="{{ thread.id }}"
                    >{% trans more_count=sharing_info['more_groups_count'] %}{{ more_count }} more{% endtrans %}
                    </a>
                {% endif %}
            </p>
        {% endif %}
        </div>
    {% else %}
        <div class="card-header">{% trans %}Public thread{% endtrans %}</div>
        <div class="card-body">
        <p>{% trans site_name=settings.APP_SHORT_NAME %}This thread is public,
            all members of {{ site_name }} can read this page.{% endtrans %}</p>
        </div>
    {% endif %}
</div>
{% endif %}

{% if settings.SIDEBAR_QUESTION_SHOW_META %}
<div class="card mb-3">
    <div class="card-header text-center">{% trans %}Stats{% endtrans %}</div>
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-6">{% trans %}Asked{% endtrans %}:</div>
            <div class="col-6 text-right font-weight-bold">{{ macros.timeago(question.added_at) }}</div>
        </div>
        <div class="row mb-2">
            <div class="col-6">{% trans %}Seen{% endtrans %}:</div>
            <div class="col-6 text-right font-weight-bold">{{ thread.view_count|intcomma }} {% trans %}times{% endtrans %}</div>
        </div>
        <div class="row">
            <div class="col-6">{% trans %}Last updated{% endtrans %}:</div>
            <div class="col-6 text-right"><strong title="{{ thread.last_activity_at }}">{{thread.last_activity_at|diff_date}}</strong></div>
        </div>
    </div>
</div>
{% endif %}

{% if similar_threads.data() and settings.SIDEBAR_QUESTION_SHOW_RELATED %}
    {#% cache 1800 "related_questions" related_questions question.id language_code %#}
    <div class="card mb-3">
        <div class="card-header">{{ settings.WORDS_RELATED_QUESTIONS|escape }}</div>
        <div class="card-body">
            <div class="questions-related">
                {% for thread_dict in similar_threads.data() %}
                    <p class="pb-2 mb-2">
                        <a href="{{ thread_dict.url }}">{{ thread_dict.title|escape }}</a>
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
    {#% endcache %#}
{% endif %}

{% if 'SIDEBAR_QUESTION_FOOTER'|show_block_to(request.user) %}
    <div class="box">
        {{ settings.SIDEBAR_QUESTION_FOOTER }}
    </div>
{% endif %}
