{% import "macros.html" as macros %}
{% if 'SIDEBAR_QUESTION_HEADER'|show_block_to(request.user) %}
<div class="box">
    {{ settings.SIDEBAR_QUESTION_HEADER }}
</div>
{% endif %}
<div class="box vote-buttons">
  <h2>{{ settings.WORDS_QUESTION_TOOLS|escape }}</h2>
    {% if favorited %}
        <a class="button followed" 
            alt="{% trans %}click to unfollow {% endtrans %}">
            <div>{% trans %}Following{% endtrans %}</div>
            <div class='unfollow'>{% trans %}Unfollow{% endtrans %}</div>
        </a>
    {% else %}
        <a class="button followed"
            alt="{% trans %}click to follow {% endtrans %}">
            {%trans %}Follow{%endtrans%}
        </a>
    {% endif %}
    <div class="clearfix"></div>
    <div id="favorite-number" class="favorite-number{% if favorited %} my-favorite-number{% endif %}">
        {% set follower_count = thread.favourite_count %}
        {% if follower_count > 0 %}
            {% trans count=follower_count %}{{count}} follower{% pluralize %}{{count}} followers{% endtrans %}
        {% endif %}
    </div>
    <div class="notify-sidebar">
        {% if settings.RSS_ENABLED %}
        <p class="rss">
            <a
                href="{{ base_url }}/feeds/question/{{ question.id }}"
                title="{% trans %}subscribe to the rss feed{% endtrans %}"
                >{% trans %}subscribe to rss feed{% endtrans %}</a>
        </p>
        {% endif %}
    </div> 
</div>

{% if repost_form %}
<div class="clearfix"></div>
<div class="box multisite-repost-thread">
    <h2>{% trans %}Post at partner sites{% endtrans %}</h2>
    <form method="POST" action="{% url multisite_repost_thread %}">{% csrf_token %}
        <table>{{ repost_form.as_table() }}</table>
        <input type="submit" value="{% trans %}Save{% endtrans %}"/>
    </form>
</div>
{% endif %}

<div class="clearfix"></div>
{% if settings.GROUPS_ENABLED %}
<div class="box sharing-widget">
    {% if thread.is_private() %}
        <h2>{% trans %}Share with others{% endtrans %}</h2>
        <form action="{% url share_question_with_user %}" method="post">{% csrf_token %}
            <div class="labeled-input">
                <label for="share_user_name">{% trans %}Enter user name{% endtrans %}</label>
                <input
                    id="share_user_name"
                    type="text"
                    class="groups-input"
                    name="recipient_name"
                />
            </div>
            <input type="hidden" name="thread_id" value="{{ thread.id }}"/>
            <input type="submit" class="add-groups" value="{% trans %}share{% endtrans %}"/>
        </form>
        <p class="share-input-col">{% trans %}- or -{% endtrans %}</p>
        <form action="{% url share_question_with_group %}" method="post">{% csrf_token %}
            <div class="labeled-input">
                <label for="share_group_name">{% trans %}Enter group name{% endtrans %}</label>
                <input 
                    id="share_group_name"
                    type="text"
                    class="groups-input"
                    name="recipient_name"
                />
            </div>
            <input type="hidden" name="thread_id" value="{{ thread.id }}"/>
            <input type="submit" class="add-groups" value="{% trans %}share{% endtrans %}"/>
        </form>
        <p class="share-input-col">{% trans %}- or -{% endtrans %}</p>
        <form action="{% url share_question_with_group %}" method="post">{% csrf_token %}
            <input
                type="hidden"
                name="recipient_name"
                value="{{ settings.GLOBAL_GROUP_NAME }}"
            />
            <input type="hidden" name="thread_id" value="{{ thread.id }}"/>
            <p class="share-input-col">
                <input 
                    type="submit"
                    class="add-groups add-everyone-group"
                    value="{% trans %}share with everyone{% endtrans %}"
                />
            </p>
            <div class="clearfix"></div>
        </form>

        {% set shared_users_count = sharing_info['users'].count() %}
        {% set shared_groups_count = sharing_info['groups'].count() %}
        {% set is_hidden = (shared_users_count + shared_groups_count == 0) %}
        {% set is_mod = thread.has_moderator(request.user) %}

        <h2>{{ settings.WORDS_WHO_CAN_SEE_THIS_QUESTION|escape }}</h2>

        <div class="shared-sublist users">
            {% set comma = joiner(',') %}
            {% if not is_hidden %}
            <h3>{% trans %}Individual users{% endtrans %}
                {% if is_mod and shared_users_count %}
                    <span class="edit-btn">(<a id="unshare-thread-users">edit</a>)</span>
                {% endif %}
            </h3>{{ comma() }}
            {% endif %}
            <p>
                {%- if request.user.is_authenticated() %}
                <a {% if is_hidden %}class="warning"{% endif %} href="{{ request.user.get_profile_url() }}">
                    {% if is_hidden %}
                        {% trans %}Only You{% endtrans %}
                    {% else %}
                        {% trans %}You{% endtrans -%}
                    {% endif %}
                </a>
                {%- endif -%}
                {%- for user in sharing_info['users'] -%}
                    <span class="item">{{ comma() }} {{ user.get_profile_link() }}</span>
                {%- endfor -%}
                {%- if sharing_info['more_users_count'] > 0 %}
                    {% trans %}and{% endtrans %}
                    <a class="see-related-users"
                    >{% trans more_count=sharing_info['more_users_count'] %}{{ more_count }} more{% endtrans %}
                    </a>
                {% endif %}
            </p>
        </div>

        {% if shared_groups_count %}
        <div class="shared-sublist">
            <h3>{% trans %}Groups{% endtrans %}{% if is_mod %} 
                <span>(<a id="unshare-thread-groups">edit</a>)</span>
            {% endif %}</h3>
            <p>
                {% set comma = joiner('<span class="sep">,</span>') %}
                {%- for group in sharing_info['groups'] -%}
                    <span class="item">{{ comma () }} {{ macros.user_group_link(group) }}</span>
                {%- endfor -%}
                {% if sharing_info['more_groups_count'] > 0 %}
                    {% trans %}and{% endtrans %}
                    <a class="see-related-groups"
                    >{% trans more_count=sharing_info['more_groups_count'] %}{{ more_count }} more{% endtrans %}
                    </a>
                {% endif %}
            </p>
        </div>
        {% endif %}
    {% else %}
        <h2>{% trans %}Public thread{% endtrans %}</h2>
        <p>{% trans site_name=settings.APP_SHORT_NAME %}This thread is public, all members of {{ site_name }} can read this page.{% endtrans %}</p>
        {% if user_is_thread_moderator %}
        <form method="post" action="{% url thread_make_private thread.id %}">{% csrf_token %}
            <p><input type="submit" name="go" value="{% trans %}Make private{% endtrans %}" /></p>
        </form>
        {% endif %}
    {% endif %}
</div>
{% endif %}

{% if settings.SIDEBAR_QUESTION_SHOW_META %}
<div class="box statsWidget">
    <div class="clearfix"></div>
    <h2>{% trans %}Stats{% endtrans %}</h2>
    <p>
        {% trans %}Asked{% endtrans %}: <strong>{{ macros.timeago(question.added_at) }}</strong>
    </p>
    <p> 
        {% trans %}Seen{% endtrans %}: <strong>{{ thread.view_count|intcomma }} {% trans %}times{% endtrans %}</strong>
    </p>
    <p>
        {% trans %}Last updated{% endtrans %}: <strong title="{{ thread.last_activity_at }}">{{thread.last_activity_at|diff_date}}</strong>
    </p>
</div>
{% endif %}

{% if similar_threads.data() and settings.SIDEBAR_QUESTION_SHOW_RELATED %}
    {#% cache 1800 "related_questions" related_questions question.id language_code %#}
    <div class="box">
      <h2>{{ settings.WORDS_RELATED_QUESTIONS|escape }}</h2>
        <div class="questions-related">
            {% for thread_dict in similar_threads.data() %}
            <p>
                <a href="{{ thread_dict.url }}">{{ thread_dict.title|escape }}</a>
            </p>
            {% endfor %}
        </div>
    </div>
    {#% endcache %#}
{% endif %}

{% if 'SIDEBAR_QUESTION_FOOTER'|show_block_to(request.user) %}
    <div class="box">
        {{ settings.SIDEBAR_QUESTION_FOOTER }}
    </div>
{% endif %}
