{% extends "email/base_mail.html"%}
{% block title %}{% trans %}Please select the best responses for{% endtrans %}{% endblock %}
{% block headline %}{% trans %}Please select the best responses for{% endtrans %}{% endblock %}
{% block content %}
    <ul>
        {% for question in questions %}
        <li><a href="{{ question.get_absolute_url() }}">{{ question.thread.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
{% block footer %}
    {% include "email/footer.html" %}
{% endblock %}
