Howdy!!!

You are invited to start your Q&A community at Askbot.
This link will get you started:  http://{{ site.domain }}{{code}}


The free trial period will last 30 days, and thereafter you will be able to subscribe for the service at $14.99 per month (*).

We hope you will enjoy using Askbot.

Best wishes,

The Askbot Team.

P.S. If your invitation expires (in 5 days) - please contact support@askbot.com.
(*) - the $14.99 monthly subscription will apply for an entry level service, corresponding to a smaller community of ~500 users - these condition might change and become better defined.
You will be able to download your data any time and you will be its sole owner.
