{% extends 'one_column_body.html' %}
{% block title %}{% trans %}Get an invite{% endtrans %}{% endblock %}
{% block content %}
<h1>{% trans %}Get an invite{% endtrans %}</h1>
<p>{% trans %}Currently we're not accepting new registrations leave your email and we'll let you know when we are back in action.{% endtrans %}</h1>
<form action="{% url privatebeta_invite %}" method="post" accept-charset="utf-8">
  {% csrf_token %}
  <div class="clearfix">
    <label>{% trans %}Your Email:{% endtrans %}</label> 
    <div class="input">{{form.email}}
    <input type="submit" class='btn' value="{% trans %}Continue &rarr;{% endtrans %}"></div> 
  </div> 
</form>
{% endblock %}
