{% block content %}
<p>{% trans %}Dear {{ name }},{% endtrans %}</p>
<p>{% trans num=questions|length %}The following question has been updated {{ site_name }}:{% pluralize num %}The following {{ num }} questions have been updated on {{ site_name }}:{% endtrans %}</p>
<ul>
{% for q in questions %}
    <li>
        <a href="{{ q['url'] }}?sort=latest">{{ q['title'] }}</a>
        <font color="#777777">({{ q['info'] }})</font>
    </li>
{% endfor %}
</ul>
<p>{% trans %}To change your email alert settings, please visit <a href="{{ email_settings_link }}">your user profile</a>.{% endtrans %}</p>
<p>{% trans %}If you believe that this message was sent in an error, please email about it the forum administrator at {{ admin_email }}.{% endtrans %}</p>
{% endblock %}
{% block footer %}
    {% include "email/footer.html" %}
{% endblock %}
