{% extends "email/base_mail.html"%}
{% import "email/macros.html" as macros %}

{#
    parameters:
    * reply_separator_line
    * replace_content_address
    * mailto_link_subject
    * post
    * reply_code (comma-separated list of emails to respond to this message)
#}

{% block content %}
{% if email_code %}
    {{ reply_separator_line }}
    <p>{% trans 
            post_text = post.text|safe_urlquote,
            subject = mailto_link_subject|safe_urlquote,
            author_email_signature = author_email_signature|safe_urlquote
    %}If you would like to edit by email, please
    <a href="mailto:{{ replace_content_address }}?body={{ post_text }}{{ author_email_signature}}&subject={{ subject }}">click here</a>{% endtrans %}</p>
{% endif %}

{% if post.is_question() %}
    {% set post_type=settings.WORDS_QUESTION_SINGULAR %}
{% elif post.is_answer() %}
    {% set post_type=settings.WORDS_ANSWER_SINGULAR %}
{% elif post.is_comment() %}
    {% set post_type=gettext('comment') %}
{% else %}
    {% set post_type=gettext('post') %}
{% endif %}

{% if post.is_question() %}
    {% set snippet=post.thread.title %}
{% else %}
    {% set snippet=post.truncated_html(max_length=30) %}
{% endif %}

<div style="margin-bottom: 8px">{% trans %}Thank you for your {{ post_type }}{% endtrans %}: {{snippet}}</div>

{% if post.is_question() and settings.UNANSWERED_QUESTION_DISCLAIMER.strip() %}
    <div style="margin-bottom: 8px;">{{ settings.UNANSWERED_QUESTION_DISCLAIMER }}</div>
{% endif %}

{% endblock %}

{% block footer %}
{% include "email/footer.html" %}
{% if email_code %}
    <p style="{{ macros.fine_print_style() }}">{{ email_code }}</p>{# important #}
{% endif %}
{% endblock %}
