/* Overrides in Width to make 1280 wide */

.content-wrapper {/* wrapper positioning class */
    width: 1260px;
}
#CALeft {
    width: 1010px;
}

#CAFull {
    width: 1250px;
}


#searchBar {
    width:1000px;
}


#searchBar .searchInput, #searchBar .searchInputCancelable {
    width: 907px;
}

#searchBar .searchInputCancelable {
    width: 864px;
}
#askFormBar p {
    width: 985px;
}
#askFormBar .questionTitleInput {
    width: 980px;
}

.ask-page div#question-list {
    float: none;
    width: 1006px;
}

.short-summary {
    width: 1002px;
}

.question-body, .answer-body {
    width: 960px;
}

.question-body IMG, .answer-body IMG {
    max-width: 900px;
}

.comments textarea {
    width: 964px;
}

.comments input {
    width: 200px;
}

/*adjustment for editor preview*/
#editor {
    width: 1002px;
}

.wmd-preview {
    width: 991px;
}

.wmd-preview IMG {
    max-width: 900px;
}

/* todo: remove this hack? */
.user-stats-table .narrow {
    width: 960px;
}

.comment {
    width: 970px;
}

