<h2>Your question has been posted</h2>

<p>The answers you will get depend very much on the quality of the question.
Find out <a>What makes a good question</a>. You can modify your question if you
feel it could be better</p>

<h2>What can you do now?</h2>
<ul>
    <li>Upload your photo and complete profile <a>Edit your profile</a></li>
    <li>Choose how you receive notifications <a>Change email settings</a></li>
    <li>Answer someone else's question <a>View all unanswered questions</a></li>
</ul>

